<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>党建学习平台</title>
    <link rel="stylesheet" href="../css/public.css">
</head>
<body class="teacher">
<header class="header2">
    <a href="javascript:history.back(-1)">
        <span class="iconfont icon-fanhui"></span>
        <span class="text1">返回</span>
    </a>
    <p class="title">党课公用详情页</p>
</header>
<article class="list_detail class_detail">
    <p class="title">长兴县举行“不忘初心、牢记使命”主题微型党课比赛</p>
    <p class="time_box">
        <span class="iconfont icon-fanhui icon_time"></span>
        <span class="time">授课时间：2018-04-08</span>
        <span class="iconfont icon-fanhui icon_teacher"></span>
        <span>授课老师：李力量</span>
    </p>
    <p class="contents"> 共产主义作为一种崭新的社会制度，是人类社会发展的必然，是人类历史上最美好、最进步、最合理的社会制度。中国共产党把实现这样的社会制度作为自己的最高理想和最终奋斗目标，既体现了无产阶级和广大劳动人民的最高利益，又表明了共产党人所从事的事业是人类历史上最伟大、最壮丽的事业。</p>
    <p class="contents"> 共产主义作为一种崭新的社会制度，是人类社会发展的必然，是人类历史上最美好、最进步、最合理的社会制度。中国共产党把实现这样的社会制度作为自己的最高理想和最终奋斗目标，既体现了无产阶级和广大劳动人民的最高利益，又表明了共产党人所从事的事业是人类历史上最伟大、最壮丽的事业。</p>
    <p class="contents"> 共产主义作为一种崭新的社会制度，是人类社会发展的必然，是人类历史上最美好、最进步、最合理的社会制度。中国共产党把实现这样的社会制度作为自己的最高理想和最终奋斗目标，既体现了无产阶级和广大劳动人民的最高利益，又表明了共产党人所从事的事业是人类历史上最伟大、最壮丽的事业。</p>
    <p class="contents"> 共产主义作为一种崭新的社会制度，是人类社会发展的必然，是人类历史上最美好、最进步、最合理的社会制度。中国共产党把实现这样的社会制度作为自己的最高理想和最终奋斗目标，既体现了无产阶级和广大劳动人民的最高利益，又表明了共产党人所从事的事业是人类历史上最伟大、最壮丽的事业。</p>
    <p class="contents"> 共产主义作为一种崭新的社会制度，是人类社会发展的必然，是人类历史上最美好、最进步、最合理的社会制度。中国共产党把实现这样的社会制度作为自己的最高理想和最终奋斗目标，既体现了无产阶级和广大劳动人民的最高利益，又表明了共产党人所从事的事业是人类历史上最伟大、最壮丽的事业。</p>
</article>
</body>
</html>