<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>党建学习平台</title>
    <link rel="stylesheet" href="__EDUCATION__/css/public.css">
</head>
<body class="study">
<header class="header2">
    <a href="javascript:history.back(-1)">
        <span class="iconfont icon-fanhui"></span>
        <span class="text1">返回</span>
    </a>
    <p class="title">教育学习活动</p>
</header>
<article class="list_detail study_list">
    <a href="{:U('Education/detail')}">
        <img src="__EDUCATION__/imgs/1.jpg" alt="">
        <dl>
            <dt>两学一做学习教育专题党课活动两学一做</dt>
            <dd> 随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要</dd>
        </dl>
    </a>
    <a href="{:U('Education/detail')}">
        <img src="__EDUCATION__/imgs/1.jpg" alt="">
        <dl>
            <dt>两学一做学习教育专题党课活动两学一做</dt>
            <dd> 随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要</dd>
        </dl>
    </a>
    <a href="{:U('Education/detail')}">
        <img src="__EDUCATION__/imgs/1.jpg" alt="">
        <dl>
            <dt>两学一做学习教育专题党课活动两学一做</dt>
            <dd> 随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要</dd>
        </dl>
    </a>
    <a href="{:U('Education/detail')}">
        <img src="__EDUCATION__/imgs/1.jpg" alt="">
        <dl>
            <dt>两学一做学习教育专题党课活动两学一做</dt>
            <dd> 随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要</dd>
        </dl>
    </a>
    <a href="{:U('Education/detail')}">
        <img src="__EDUCATION__/imgs/1.jpg" alt="">
        <dl>
            <dt>两学一做学习教育专题党课活动两学一做</dt>
            <dd> 随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要</dd>
        </dl>
    </a>
    <a href="{:U('Education/detail')}">
        <img src="__EDUCATION__/imgs/1.jpg" alt="">
        <dl>
            <dt>两学一做学习教育专题党课活动两学一做</dt>
            <dd> 随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要</dd>
        </dl>
    </a>
    <a href="{:U('Education/detail')}">
        <img src="__EDUCATION__/imgs/1.jpg" alt="">
        <dl>
            <dt>两学一做学习教育专题党课活动两学一做</dt>
            <dd> 随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要随着工业园区框架的逐步拉大，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要</dd>
        </dl>
    </a>
</article>
</body>
</html>