<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>党建学习平台</title>
    <link rel="stylesheet" href="__EDUCATION__/css/public.css">
</head>
<body class="teacher">
<header class="header2">
    <a href="javascript:history.back(-1)">
        <span class="iconfont icon-fanhui"></span>
        <span class="text1">返回</span>
    </a>
    <p class="title">党员学习心得</p>
</header>
<article class="list_detail study_form">
    <div class="left">
        <p class="input_box">
            <span class="iconfont icon-fanhui icon_blue"></span>
            <label for="name">姓名</label>
            <input type="text" id="name" placeholder="请输入姓名">
        </p>
        <p class="input_box">
            <span class="iconfont icon-fanhui icon_yellow"></span>
            <label for="phone">电话</label>
            <input type="text" id="phone" placeholder="请留下电话">
        </p>
        <p class="input_box">
            <span class="iconfont icon-fanhui icon_green"></span>
            <label for="age">年龄</label>
            <input type="text" id="age" placeholder="请输入年龄">
        </p>
        <p class="input_box">
            <span class="iconfont icon-fanhui icon_orange"></span>
            <label for="unit">所在党组织</label>
            <input type="text" id="unit" placeholder="所在党组织（选填）">
        </p>
    </div>
    <div class="right">
        <textarea name="study" id="study" placeholder="写下您的党员学习心得（字数500字以内）"></textarea>
        <p class="btn_box">
            <span>提交</span>
        </p>
        <div class="img_box">
            <img src="__EDUCATION__/imgs/ewm.png" alt="">
            <p class="text_box">扫描二维码<br/>
                在微信端提交党员心得</p>
        </div>
    </div>
</article>
</body>
</html>