<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>党建学习平台</title>
    <link rel="stylesheet" href="__EDUCATION__/css/public.css">
</head>
<body class="teacher">
<header class="header2">
    <a href="javascript:history.back(-1)">
        <span class="iconfont icon-fanhui"></span>
        <span class="text1">返回</span>
    </a>
    <p class="title">党课名师</p>
</header>
<article class="list_detail teacher_list">
    <div class="little_box">
        <a href="{:U('Education/teacherDetail')}">
            <img src="__EDUCATION__/imgs/head1.png" alt="">
            <dl>
                <dt>王书记</dt>
                <dd class="dd1">总支书记</dd>
                <dd class="dd2">新区人大代表，新区三八红旗手，长兴县优秀党务工作者优秀党务工作者</dd>
            </dl>
        </a>
        <a href="{:U('Education/teacherDetail')}">
            <img src="__EDUCATION__/imgs/head1.png" alt="">
            <dl>
                <dt>王书记</dt>
                <dd class="dd1">总支书记</dd>
                <dd class="dd2">新区人大代表，新区三八红旗手，长兴县优秀党务工作者优秀党务工作者</dd>
            </dl>
        </a>
        <a href="{:U('Education/teacherDetail')}">
            <img src="__EDUCATION__/imgs/head1.png" alt="">
            <dl>
                <dt>王书记</dt>
                <dd class="dd1">总支书记</dd>
                <dd class="dd2">新区人大代表，新区三八红旗手，长兴县优秀党务工作者优秀党务工作者</dd>
            </dl>
        </a>
        <a href="{:U('Education/teacherDetail')}">
            <img src="__EDUCATION__/imgs/head1.png" alt="">
            <dl>
                <dt>王书记</dt>
                <dd class="dd1">总支书记</dd>
                <dd class="dd2">新区人大代表，新区三八红旗手，长兴县优秀党务工作者优秀党务工作者</dd>
            </dl>
        </a>
        <a href="{:U('Education/teacherDetail')}">
            <img src="__EDUCATION__/imgs/head1.png" alt="">
            <dl>
                <dt>王书记</dt>
                <dd class="dd1">总支书记</dd>
                <dd class="dd2">新区人大代表，新区三八红旗手，长兴县优秀党务工作者优秀党务工作者</dd>
            </dl>
        </a>
        <a href="{:U('Education/teacherDetail')}">
            <img src="__EDUCATION__/imgs/head1.png" alt="">
            <dl>
                <dt>王书记</dt>
                <dd class="dd1">总支书记</dd>
                <dd class="dd2">新区人大代表，新区三八红旗手，长兴县优秀党务工作者优秀党务工作者</dd>
            </dl>
        </a>
        <a href="{:U('Education/teacherDetail')}">
            <img src="__EDUCATION__/imgs/head1.png" alt="">
            <dl>
                <dt>王书记</dt>
                <dd class="dd1">总支书记</dd>
                <dd class="dd2">新区人大代表，新区三八红旗手，长兴县优秀党务工作者优秀党务工作者</dd>
            </dl>
        </a>
        <a href="{:U('Education/teacherDetail')}">
            <img src="__EDUCATION__/imgs/head1.png" alt="">
            <dl>
                <dt>王书记</dt>
                <dd class="dd1">总支书记</dd>
                <dd class="dd2">新区人大代表，新区三八红旗手，长兴县优秀党务工作者优秀党务工作者</dd>
            </dl>
        </a>
    </div>
</article>
</body>
</html>