<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>党建学习平台</title>
    <link rel="stylesheet" href="__EDUCATION__/css/public.css">
</head>
<body class="teacher">
<header class="header2">
    <a href="javascript:history.back(-1)">
        <span class="iconfont icon-fanhui"></span>
        <span class="text1">返回</span>
    </a>
    <p class="title">党课名师</p>
</header>
<article class="list_detail teacher_detail">
    <div class="top">
        <img src="__EDUCATION__/imgs/head1.png" alt="">
        <dl>
            <dt class="title1">
                <span class="name">王书记</span>
                <span class="job">总支书记</span>
            </dt>
            <dd class="intr">新区人大代表，新区三八红旗手长兴县优秀党务工作者</dd>
            <dd class="intr">特色特点：贴近实际因材施教贴近实际因材施教贴近实际因材施教贴近</dd>
            <dd class="intr">负责片区：片区1、片区2</dd>
        </dl>
    </div>
    <div class="bottom">
        <span class="title2">在线预约</span>
        <div class="input_box">
            <p class="little_box">
                <span class="iconfont icon-fanhui icon_blue"></span>
                <label for="name">姓名</label>
                <input type="text" id="name" placeholder="请输入姓名">
            </p>
            <p class="little_box">
                <span class="iconfont icon-fanhui icon_green"></span>
                <label for="name">性别</label>
                <select name="" id="">
                    <option value="">男</option>
                    <option value="">女</option>
                </select>
            </p>
            <p class="little_box">
                <span class="iconfont icon-fanhui icon_orange"></span>
                <label>所属支部</label>
                <select name="">
                    <option value="">请选择所属支部</option>
                    <option value="">第一党支部</option>
                    <option value="">第二党支部</option>
                    <option value="">第三党支部</option>
                    <option value="">第四党支部</option>
                </select>
            </p>
            <p class="little_box">
                <span class="iconfont icon-fanhui icon_yellow"></span>
                <label for="time">登记时间</label>
                <input type="date" id="time">
            </p>
            <p class="btn_box">
                <span class="btn">预约</span>
            </p>
        </div>
    </div>
</article>
</body>
</html>