<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/Public/zui/lib/datetimepicker/datetimepicker.css" media="all">
    <script type="text/javascript" src="/Public/zui/lib/datetimepicker/datetimepicker.min.js" charset="UTF-8"></script>
</head>
<body>

<select class= >
    <option value="0">请选择</option>
    <option value="1" >单位预约</option>
    <option value="2" selected>个人预约</option>
</select>

</body>
</html>