<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,
    maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <title>党员微笑墙</title>
    <script src="__SMILE__/js/flexible.js"></script>
    <link rel="stylesheet" href="__SMILE__/css/indexMobile.css?v=1.1">
</head>
<body>
    <article v-cloak id="app" class="wrapper">

        <section class="title">
            <img src="__SMILE__/imgs/mobile/title.png" />
        </section>

        <section class="intro-box">
            <p class="intro-name">
                <span class="img">
                    <img src="{$user.headimgurl}" />
                </span>
                <span class="text">您好，{$user.nickname}</span>
            </p>
            <p class="intro-rank">
                <span>您,</span>
                <span ref="session" class="num"></span>
                <span>尚未参与党员微笑墙的活动</span>
            </p>
        </section>

        <section class="people-box">
            <div v-for="item in imgData" class="people"
                 :style="{width:item.width/75+'rem', height:item.width/75+'rem', top:item.top/75+'rem', left:item.left/75+'rem'}"
            >
                <img :src="item.img" />
            </div>
        </section>

    </article>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="__SMILE__/js/indexMobile.js?v=1.3"></script>
</body>
</html>