<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>领导关怀</title>
    <!-- 引入css文件 -->
    <link rel="stylesheet" href="../../../../../Public/dq/css/index-style.css">
    <!-- 引入require及config文件  -->
    <script src="../../../../../Public/dq/js/lib/require.min.js"></script>
    <script src="../../../../../Public/dq/js/require-config.js"></script>
    <script>
      requirejs({
        baseUrl: "js"
      })
    </script>
</head>
<body class="page card">

<!-- dq_main -->
<div class="dq_main">

    <header class="dq_main-header">

        <div class="dq_main-header-go">

            <a href="javascript:history.back(-1);">

                <i class="iconfont icon-fanhui"></i>

                <span>返回</span>

            </a>

        </div>

        <h1 class="dq_main-header-title">领导关怀</h1>

    </header>

    <section class="dq_main-container">

        <div class="card-box" id="wrapper">

            <div>

                <a href="{:U('Dq/detail')}" class="card-box-item">

                    <div class="pic">

                        <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                    </div>

                    <div class="title">

                        <p>2018一季度组工信息培训会召开</p>

                    </div>

                    <div class="text">

                        <p>
                            4月13日，2018年一季度组工信息培训会召开，会上，市委组织部办公室副主任戴桂亮作组工信息业务培训，32名来自乡镇、部门和组织部的信息员参加培训。
                        </p>

                        <p>
                            会议指出，当前组工信息工作中存在精准度不够高、敏感性不够强、基本功不够扎实、总体质量不够高等问题。为做好做精接下来的信息工作，会议强调重点建立健全四项工作机制。
                        </p>

                    </div>

                </a>

                <a href="{:U('Dq/detail')}" class="card-box-item">

                    <div class="pic">

                        <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                    </div>

                    <div class="title">

                        <p>2018一季度组工信息培训会召开</p>

                    </div>

                    <div class="text">

                        <p>
                            4月13日，2018年一季度组工信息培训会召开，会上，市委组织部办公室副主任戴桂亮作组工信息业务培训，32名来自乡镇、部门和组织部的信息员参加培训。
                        </p>

                        <p>
                            会议指出，当前组工信息工作中存在精准度不够高、敏感性不够强、基本功不够扎实、总体质量不够高等问题。为做好做精接下来的信息工作，会议强调重点建立健全四项工作机制。
                        </p>

                    </div>

                </a>

                <a href="{:U('Dq/detail')}" class="card-box-item">

                    <div class="pic">

                        <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                    </div>

                    <div class="title">

                        <p>2018一季度组工信息培训会召开</p>

                    </div>

                    <div class="text">

                        <p>
                            4月13日，2018年一季度组工信息培训会召开，会上，市委组织部办公室副主任戴桂亮作组工信息业务培训，32名来自乡镇、部门和组织部的信息员参加培训。
                        </p>

                        <p>
                            会议指出，当前组工信息工作中存在精准度不够高、敏感性不够强、基本功不够扎实、总体质量不够高等问题。为做好做精接下来的信息工作，会议强调重点建立健全四项工作机制。
                        </p>

                    </div>

                </a>

                <a href="{:U('Dq/detail')}" class="card-box-item">

                    <div class="pic">

                        <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                    </div>

                    <div class="title">

                        <p>2018一季度组工信息培训会召开</p>

                    </div>

                    <div class="text">

                        <p>
                            4月13日，2018年一季度组工信息培训会召开，会上，市委组织部办公室副主任戴桂亮作组工信息业务培训，32名来自乡镇、部门和组织部的信息员参加培训。
                        </p>

                        <p>
                            会议指出，当前组工信息工作中存在精准度不够高、敏感性不够强、基本功不够扎实、总体质量不够高等问题。为做好做精接下来的信息工作，会议强调重点建立健全四项工作机制。
                        </p>

                    </div>

                </a>

                <a href="{:U('Dq/detail')}" class="card-box-item">

                    <div class="pic">

                        <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                    </div>

                    <div class="title">

                        <p>2018一季度组工信息培训会召开</p>

                    </div>

                    <div class="text">

                        <p>
                            4月13日，2018年一季度组工信息培训会召开，会上，市委组织部办公室副主任戴桂亮作组工信息业务培训，32名来自乡镇、部门和组织部的信息员参加培训。
                        </p>

                        <p>
                            会议指出，当前组工信息工作中存在精准度不够高、敏感性不够强、基本功不够扎实、总体质量不够高等问题。为做好做精接下来的信息工作，会议强调重点建立健全四项工作机制。
                        </p>

                    </div>

                </a>

                <a href="{:U('Dq/detail')}" class="card-box-item">

                    <div class="pic">

                        <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                    </div>

                    <div class="title">

                        <p>2018一季度组工信息培训会召开</p>

                    </div>

                    <div class="text">

                        <p>
                            4月13日，2018年一季度组工信息培训会召开，会上，市委组织部办公室副主任戴桂亮作组工信息业务培训，32名来自乡镇、部门和组织部的信息员参加培训。
                        </p>

                        <p>
                            会议指出，当前组工信息工作中存在精准度不够高、敏感性不够强、基本功不够扎实、总体质量不够高等问题。为做好做精接下来的信息工作，会议强调重点建立健全四项工作机制。
                        </p>

                    </div>

                </a>

                <a href="{:U('Dq/detail')}" class="card-box-item">

                    <div class="pic">

                        <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                    </div>

                    <div class="title">

                        <p>2018一季度组工信息培训会召开</p>

                    </div>

                    <div class="text">

                        <p>
                            4月13日，2018年一季度组工信息培训会召开，会上，市委组织部办公室副主任戴桂亮作组工信息业务培训，32名来自乡镇、部门和组织部的信息员参加培训。
                        </p>

                        <p>
                            会议指出，当前组工信息工作中存在精准度不够高、敏感性不够强、基本功不够扎实、总体质量不够高等问题。为做好做精接下来的信息工作，会议强调重点建立健全四项工作机制。
                        </p>

                    </div>

                </a>
            </div>

        </div>

    </section>

</div>
<!-- dq_main end-->

<script>

  require(['scroll'],function () {

  })

</script>
</body>
</html>