<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>三课一会</title>
    <!-- 引入css文件 -->
    <link rel="stylesheet" href="__DQ__/css/index-style.css">
    <!-- 引入require及config文件  -->
    <script src="__DQ__/js/lib/require.min.js"></script>
    <script src="__DQ__/js/require-config.js"></script>
    <script>
      requirejs({
        baseUrl: "js"
      })
    </script>
</head>
<body class="page class">

<!-- dq_main -->
<div class="dq_main">

    <header class="dq_main-header">

        <div class="dq_main-header-go">

            <a href="javascript:history.back(-1);">

                <i class="iconfont icon-fanhui"></i>

                <span>返回</span>

            </a>

        </div>

        <h1 class="dq_main-header-title">三课一会</h1>

    </header>

    <section class="dq_main-container">

        <div class="class-box tab">

            <nav class="class-box-nav tab-nav">

                <div class="item item-active">

                    <i class="iconfont icon-dahuigaikuang"></i>

                    <span>支部党员大会</span>

                </div>

                <div class="item">

                    <i class="iconfont icon-wodedangzhibu"></i>

                    <span>党支部委员会</span>

                </div>

                <div class="item">

                    <i class="iconfont icon-xiaozu"></i>

                    <span>党小组会</span>

                </div>

                <div class="item">

                    <i class="iconfont icon-zuzhi"></i>

                    <span>党组织生活</span>

                </div>

            </nav>

            <div class="class-box-list tab-content" id="wrapper">

                <div>

                    <ul class="union-list item item-show">

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="__DQ__/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                    </ul>

                    <ul class="union-list item">

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        阿斯蒂芬士大夫方式方式分散发生方！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                    </ul>

                    <ul class="union-list item">

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        阿斯蒂芬士大夫方式方式分散发生方！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                    </ul>

                    <ul class="union-list item">

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        阿斯蒂芬士大夫方式方式分散发生方！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                        <li class="union-list-item">

                            <div class="pic">

                                <a href="{:U('Dq/detail')}">

                                    <img src="../../../../../Public/dq/img/page/index/i_pic.png">

                                </a>

                            </div>

                            <div class="right">

                                <p class="right-title">
                                    <a href="{:U('Dq/detail')}">
                                        献礼十九大，工会为基层职工送去一份文化大餐！
                                    </a>
                                </p>

                                <p class="right-date">2018-03-26</p>

                                <div class="right-text">

                                    <p>
                                        10月20日晚，湖州市总工会职工艺术团下基层慰问演出在和平浙江天能动力能源有限公司蓝领公寓成功举办。此次活动由文化中心湖州市总工会主办，长兴县总工会、湖州市工人文化宫协办，通过歌舞、曲艺、器乐等多种表演形式，对我县十九大召开、社会经济建设发展的成果进行了宣传。
                                    </p>

                                    <p>
                                        县总工会党组成员黄金华、鲍强华，和平镇总工会副主席黄美，天能集团党委副书记章旭东，党群部主任汤林强，浙江天能动力能源有限公司党支部委员、工会副主席尹明成等领导出席并观看慰问演出。
                                    </p>

                                </div>

                            </div>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </section>

</div>
<!-- dq_main end-->

<script>

  require(['scroll','tab'],function (scroll,tab) {

    tab('.tab');

  })

</script>
</body>
</html>