<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>党建成果</title>
    <!-- 引入css文件 -->
    <link rel="stylesheet" href="__DQ__/css/index-style.css">
    <!-- 引入require及config文件  -->
    <script src="__DQ__/js/lib/require.min.js"></script>
    <script src="__DQ__/js/require-config.js"></script>
    <script>
      requirejs({
        baseUrl: "js"
      })
    </script>
</head>
<body class="page dangjian">

<!-- dq_main -->
<div class="dq_main">

    <header class="dq_main-header">

        <div class="dq_main-header-go">

            <a href="javascript:history.back(-1);">

                <i class="iconfont icon-fanhui"></i>

                <span>返回</span>

            </a>

        </div>

        <h1 class="dq_main-header-title">党建成果</h1>

    </header>

    <section class="dq_main-container">

        <div class="dangjian-list">

            <a href="{:U('Dq/honor')}" class="dangjian-list-item">

                <i class="iconfont icon-rongyu"></i>
                <br/>
                <span>党建荣誉</span>

            </a>

            <a href="{:U('Dq/card')}" class="dangjian-list-item">

                <i class="iconfont icon-icon"></i>
                <br/>
                <span>领导关怀</span>

            </a>

        </div>

    </section>

</div>
<!-- dq_main end-->

<script>

  require(['jquery'],function ($) {

  })

</script>
</body>
</html>