<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>共青团服务</title>
    <!-- 引入css文件 -->
    <link rel="stylesheet" href="__DQ__/css/index-style.css">
    <!-- 引入require及config文件  -->
    <script src="__DQ__/js/lib/require.min.js"></script>
    <script src="__DQ__/js/require-config.js"></script>
    <script>
      requirejs({
        baseUrl: "js"
      })
    </script>
</head>
<body class="page home">

<!-- dq_main -->
<div class="dq_main zj">

    <header class="dq_main-header zj-header">

        <div class="dq_main-header-go">

            <a href="javascript:history.back(-1);">

                <i class="iconfont icon-fanhui"></i>

                <span>返回</span>

            </a>

        </div>

        <h1 class="dq_main-header-title">共青团服务</h1>

    </header>

    <section class="dq_main-container">

        <div class="card-box" id="wrapper"><!-- wrapper -->

            <ul class="fw">

                <li class="fw-item">

                    <a href="javascript:">

                        <div class="fw-item-content">

                            <div class="pic">

                                <img src="img/page/index/pic_fw.jpg">

                            </div>

                            <div class="text">

                                <p class="text-title">青年之声网友_13223</p>

                                <p class="text-date">2018-05-03 </p>

                                <div class="text-content">

                                    <p class="text-content-red">
                                        #把青春的责任扛在肩上#不辱时代使命，不负人民期望
                                    </p>

                                    <p class="text-content-more">
                                        月2日上午，在“五四”青年节和北京大学建校120周年校庆日即将来临之际，习近平来到北京大学考察。习近平总书记在与北大师生座谈时发表了重要讲话，在全校...生中引起了强烈反响，振奋着每一名北大青年学子的心。
                                    </p>

                                </div>

                            </div>

                        </div>

                        <div class="fw-item-bottom">

                            <span>阅读： 123</span>

                        </div>

                    </a>

                </li>

                <li class="fw-item">

                    <a href="javascript:">

                        <div class="fw-item-content">

                            <div class="pic">

                                <img src="__DQ__/img/page/index/pic_fw.jpg">

                            </div>

                            <div class="text">

                                <p class="text-title">青年之声网友_13223</p>

                                <p class="text-date">2018-05-03 </p>

                                <div class="text-content">

                                    <p class="text-content-red">
                                        #把青春的责任扛在肩上#不辱时代使命，不负人民期望
                                    </p>

                                    <p class="text-content-more">
                                        月2日上午，在“五四”青年节和北京大学建校120周年校庆日即将来临之际，习近平来到北京大学考察。习近平总书记在与北大师生座谈时发表了重要讲话，在全校...生中引起了强烈反响，振奋着每一名北大青年学子的心。
                                    </p>

                                </div>

                            </div>

                        </div>

                        <div class="fw-item-bottom">

                            <span>阅读： 123</span>

                        </div>

                    </a>

                </li>

                <li class="fw-item">

                    <a href="javascript:">

                        <div class="fw-item-content">

                            <div class="pic">

                                <img src="__DQ__/img/page/index/pic_fw.jpg">

                            </div>

                            <div class="text">

                                <p class="text-title">青年之声网友_13223</p>

                                <p class="text-date">2018-05-03 </p>

                                <div class="text-content">

                                    <p class="text-content-red">
                                        #把青春的责任扛在肩上#不辱时代使命，不负人民期望
                                    </p>

                                    <p class="text-content-more">
                                        月2日上午，在“五四”青年节和北京大学建校120周年校庆日即将来临之际，习近平来到北京大学考察。习近平总书记在与北大师生座谈时发表了重要讲话，在全校...生中引起了强烈反响，振奋着每一名北大青年学子的心。
                                    </p>

                                </div>

                            </div>

                        </div>

                        <div class="fw-item-bottom">

                            <span>阅读： 123</span>

                        </div>

                    </a>

                </li>

                <li class="fw-item">

                    <a href="javascript:">

                        <div class="fw-item-content">

                            <div class="pic">

                                <img src="__DQ__/img/page/index/pic_fw.jpg">

                            </div>

                            <div class="text">

                                <p class="text-title">青年之声网友_13223</p>

                                <p class="text-date">2018-05-03 </p>

                                <div class="text-content">

                                    <p class="text-content-red">
                                        #把青春的责任扛在肩上#不辱时代使命，不负人民期望
                                    </p>

                                    <p class="text-content-more">
                                        月2日上午，在“五四”青年节和北京大学建校120周年校庆日即将来临之际，习近平来到北京大学考察。习近平总书记在与北大师生座谈时发表了重要讲话，在全校...生中引起了强烈反响，振奋着每一名北大青年学子的心。
                                    </p>

                                </div>

                            </div>

                        </div>

                        <div class="fw-item-bottom">

                            <span>阅读： 123</span>

                        </div>

                    </a>

                </li>

                <li class="fw-item">

                    <a href="javascript:">

                        <div class="fw-item-content">

                            <div class="pic">

                                <img src="__DQ__/img/page/index/pic_fw.jpg">

                            </div>

                            <div class="text">

                                <p class="text-title">青年之声网友_13223</p>

                                <p class="text-date">2018-05-03 </p>

                                <div class="text-content">

                                    <p class="text-content-red">
                                        #把青春的责任扛在肩上#不辱时代使命，不负人民期望
                                    </p>

                                    <p class="text-content-more">
                                        月2日上午，在“五四”青年节和北京大学建校120周年校庆日即将来临之际，习近平来到北京大学考察。习近平总书记在与北大师生座谈时发表了重要讲话，在全校...生中引起了强烈反响，振奋着每一名北大青年学子的心。
                                    </p>

                                </div>

                            </div>

                        </div>

                        <div class="fw-item-bottom">

                            <span>阅读： 123</span>

                        </div>

                    </a>

                </li>

                <li class="fw-item">

                    <a href="javascript:">

                        <div class="fw-item-content">

                            <div class="pic">

                                <img src="__DQ__/img/page/index/pic_fw.jpg">

                            </div>

                            <div class="text">

                                <p class="text-title">青年之声网友_13223</p>

                                <p class="text-date">2018-05-03 </p>

                                <div class="text-content">

                                    <p class="text-content-red">
                                        #把青春的责任扛在肩上#不辱时代使命，不负人民期望
                                    </p>

                                    <p class="text-content-more">
                                        月2日上午，在“五四”青年节和北京大学建校120周年校庆日即将来临之际，习近平来到北京大学考察。习近平总书记在与北大师生座谈时发表了重要讲话，在全校...生中引起了强烈反响，振奋着每一名北大青年学子的心。
                                    </p>

                                </div>

                            </div>

                        </div>

                        <div class="fw-item-bottom">

                            <span>阅读： 123</span>

                        </div>

                    </a>

                </li>

            </ul>

        </div>

    </section>

</div>
<!-- dq_main end-->

<script>

  require(['scroll'],function () {

  })

</script>
</body>
</html>