<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>共青团服务</title>
    <!-- 引入css文件 -->
    <link rel="stylesheet" href="css/index-style.css">
    <!-- 引入require及config文件  -->
    <script src="js/lib/require.min.js"></script>
    <script src="js/require-config.js"></script>
    <script>
      requirejs({
        baseUrl: "js"
      })
    </script>
</head>
<body class="page home">

<!-- dq_main -->
<div class="dq_main zj">

    <header class="dq_main-header zj-header">

        <div class="dq_main-header-go">

            <a href="javascript:history.back(-1);">

                <i class="iconfont icon-fanhui"></i>

                <span>返回</span>

            </a>

        </div>

        <h1 class="dq_main-header-title">共青团服务</h1>

    </header>

    <section class="dq_main-container">

        <div class="dq_main-container-box" id="wrapper">

            <ul class="fw_det">

                <li class="fw_det-item">

                    <div class="fw_det-top">

                        <div class="fw_det-item-pic">

                            <a href="javascript:">

                                <img src="img/page/index/pic_fw.jpg">

                            </a>

                        </div>

                        <div class="fw_det-item-content">

                            <p class="text-title">

                                <a href="javascript:">小跳蛙</a>

                            </p>

                            <p class="text-date">2018-05-03 </p>

                            <div class="text-content">

                                <p class="text-content-red">
                                    <a href="javascript:">
                                        【全世界都在看】你有一封第四届世界互联网大会邀请函
                                    </a>
                                </p>

                                <p class="text-content-more">
                                    <a href="javascript:">

                                        不知不觉间，世界互联网大会已走过了三载春秋，国家主席习近平提出的“四项原则”和“五点主张”举世瞩目。12月3日，第四届世界互联网大会即在乌镇开幕。发展数字经济、促进开放共享成为了本届大会的关键词。400余家全球知名的互联网企业和创新型企业将莅临现场。

                                    </a>
                                </p>

                            </div>

                        </div>

                    </div>

                    <div class="fw_det-bottom">

                        <a href="javascript:" class="fw_det-bottom-link">查看全文</a>

                        <span>
                            阅读：123
                        </span>

                    </div>

                </li>

                <li class="fw_det-item">

                    <div class="fw_det-top">

                        <div class="fw_det-item-pic">

                            <a href="javascript:">

                                <img src="img/page/index/pic_fw.jpg">

                            </a>

                        </div>

                        <div class="fw_det-item-content">

                            <p class="text-title">

                                <a href="javascript:">小跳蛙</a>

                            </p>

                            <p class="text-date">2018-05-03 </p>

                            <div class="text-content">

                                <p class="text-content-red">
                                    <a href="javascript:">
                                        【全世界都在看】你有一封第四届世界互联网大会邀请函
                                    </a>
                                </p>

                                <p class="text-content-more">
                                    <a href="javascript:">

                                        不知不觉间，世界互联网大会已走过了三载春秋，国家主席习近平提出的“四项原则”和“五点主张”举世瞩目。12月3日，第四届世界互联网大会即在乌镇开幕。发展数字经济、促进开放共享成为了本届大会的关键词。400余家全球知名的互联网企业和创新型企业将莅临现场。

                                    </a>
                                </p>

                            </div>

                        </div>

                    </div>

                    <div class="fw_det-bottom">

                        <a href="javascript:" class="fw_det-bottom-link">查看全文</a>

                        <span>
                            阅读：123
                        </span>

                    </div>

                </li>

                <li class="fw_det-item">

                    <div class="fw_det-top">

                        <div class="fw_det-item-pic">

                            <a href="javascript:">

                                <img src="img/page/index/pic_fw.jpg">

                            </a>

                        </div>

                        <div class="fw_det-item-content">

                            <p class="text-title">

                                <a href="javascript:">小跳蛙</a>

                            </p>

                            <p class="text-date">2018-05-03 </p>

                            <div class="text-content">

                                <p class="text-content-red">
                                    <a href="javascript:">
                                        【全世界都在看】你有一封第四届世界互联网大会邀请函
                                    </a>
                                </p>

                                <p class="text-content-more">
                                    <a href="javascript:">

                                        不知不觉间，世界互联网大会已走过了三载春秋，国家主席习近平提出的“四项原则”和“五点主张”举世瞩目。12月3日，第四届世界互联网大会即在乌镇开幕。发展数字经济、促进开放共享成为了本届大会的关键词。400余家全球知名的互联网企业和创新型企业将莅临现场。

                                    </a>
                                </p>

                            </div>

                        </div>

                    </div>

                    <div class="fw_det-bottom">

                        <a href="javascript:" class="fw_det-bottom-link">查看全文</a>

                        <span>
                            阅读：123
                        </span>

                    </div>

                </li>

                <li class="fw_det-item">

                    <div class="fw_det-top">

                        <div class="fw_det-item-pic">

                            <a href="javascript:">

                                <img src="img/page/index/pic_fw.jpg">

                            </a>

                        </div>

                        <div class="fw_det-item-content">

                            <p class="text-title">

                                <a href="javascript:">小跳蛙</a>

                            </p>

                            <p class="text-date">2018-05-03 </p>

                            <div class="text-content">

                                <p class="text-content-red">
                                    <a href="javascript:">
                                        【全世界都在看】你有一封第四届世界互联网大会邀请函
                                    </a>
                                </p>

                                <p class="text-content-more">
                                    <a href="javascript:">

                                        不知不觉间，世界互联网大会已走过了三载春秋，国家主席习近平提出的“四项原则”和“五点主张”举世瞩目。12月3日，第四届世界互联网大会即在乌镇开幕。发展数字经济、促进开放共享成为了本届大会的关键词。400余家全球知名的互联网企业和创新型企业将莅临现场。

                                    </a>
                                </p>

                            </div>

                        </div>

                    </div>

                    <div class="fw_det-bottom">

                        <a href="javascript:" class="fw_det-bottom-link">查看全文</a>

                        <span>
                            阅读：123
                        </span>

                    </div>

                </li>

            </ul>

        </div>

    </section>

</div>
<!-- dq_main end-->

<script>

  require(['scroll'],function () {

  })

</script>
</body>
</html>