<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>首页</title>
    <!-- 引入css文件 -->
    <link rel="stylesheet" href="/Public/dq/css/index-style.css">
    <!-- 引入require及config文件  -->
    <script src="/Public/dq/js/lib/require.min.js"></script>
    <script src="/Public/dq/js/require-config.js"></script>
    <script>
      requirejs({
        baseUrl: "js"
      })
    </script>
</head>
<body class="page home">

    <!-- dq_main -->
    <div class="dq_main">

        <header class="dq_main-header home-header">

            <a href="http://cxdj.cmlzjz.com/cx/dq" class="home-logo">

                <img src="__DQ__/img/common/logo.png" alt="党群之家">

            </a>

        </header>

        <section class="dq_main-container clearfix">

            <div class="home-left MR-25">

                <div class="dq_section">

                    <div class="dq_section-title">

                        <div class="item bg1">

                            <i class="iconfont icon-shipin"></i>

                            <span>党建引领专题片</span>

                        </div>

                    </div>

                    <div class="dq_section-box">

                        <!--<a href="javascript:" video-src="https://pic.ibaotu.com/00/63/12/245888piC8rT.mp4" style="background-image: url(//pic.ibaotu.com/00/65/43/94X888piC8Ka.jpg!c780)">

                            <i class="iconfont "></i>

                        </a>-->

                        <video autoplay controls src="https://pic.ibaotu.com/00/63/12/245888piC8rT.mp4" width="624" height="331">
                            您的浏览器不支持此视频播放。
                        </video>

                    </div>

                </div>

                <div class="dq_section tab1 MT-15">

                    <div class="dq_section-title t_bg tab-nav">

                        <div class="item item-active">

                            <i class="iconfont icon-shengyin"></i>

                            <span>青年之声</span>

                        </div>

                        <div class="item">

                            <i class="iconfont icon-xinwen"></i>

                            <span>共青团服务</span>

                        </div>

                        <div class="tab-link">
                            <a class="move move-active" href="{:U('Dq/articleList?type=3')}">更多&gt;</a>
                            <a class="move" href="{:U('Dq/fw')}">更多&gt;</a>
                        </div>

                    </div>

                    <div class="dq_section-box tab-content">

                        <div class="item item-show">

                            <div class="t_bg-header">

                                <div class="t_bg-header-pic">

                                    <a href="{:U('Dq/detail?type=1')}"><img src="__DQ__/img/page/index/i_pic.png"></a>

                                </div>

                                <div class="t_bg-header-right">

                                    <h4><a href="{:U('Dq/detail?type=1')}" title="团聚南昌 筑梦长兴——团长兴县委赴江西南昌建立首批">团聚南昌 筑梦长兴——团长兴县委赴江西南昌建立首批团聚南昌 筑梦长兴——团长兴县委赴江西南昌建立首批团聚南昌 筑梦长兴——团长兴县委赴江西南昌建立首批</a></h4>

                                    <p><a href="{:U('Dq/detail?type=1')}">团聚南昌 筑梦长兴——团长兴县委赴江西南昌建立首批外省大学生来长就业创业推介交流活动，带领诺力机械、中德自控</a></p>

                                </div>

                            </div>

                            <ul class="t_bg-list">

                                <li><a href="{:U('Dq/detail?type=1')}" title="长兴县青年志愿者化身“种植户”助力低于">长兴县青年志愿者化身“种植户”助力低于23232323</a></li>

                                <li><a href="{:U('Dq/detail?type=1')}" title="长兴县青年志愿者化身“种植户”助力低于">长兴县青年志愿者化身“种植户”助力低于</a></li>

                                <li><a href="{:U('Dq/detail?type=1')}" title="长兴县青年志愿者化身“种植户”助力低于">长兴县青年志愿者化身“种植户”助力低于</a></li>

                            </ul>

                        </div>

                        <div class="item">

                            <div class="t_bg-header">

                                <div class="t_bg-header-pic">

                                    <a href="{:U('Dq/detail?type=1')}"><img src="__DQ__/img/page/index/i_pic.png"></a>

                                </div>

                                <div class="t_bg-header-right">

                                    <h4><a href="{:U('Dq/detail?type=1')}" title="团聚南昌 筑梦长兴——团长兴县委赴江西南昌建立首批">团聚南昌 筑梦长兴——团长兴县委赴江西南昌建立首批</a></h4>

                                    <p><a href="{:U('Dq/detail?type=1')}">团聚南昌 筑梦长兴——团长兴县委赴江西南昌建立首批外省大学生来长就业创业推介交流活动，带领诺力机械、中德自控</a></p>

                                </div>

                            </div>

                            <ul class="t_bg-list">

                                <li><a href="{:U('Dq/detail?type=1')}" title="长兴县青年志愿者化身“种植户”助力低于">长兴县青年志愿者化身“种植户”助力低于</a></li>

                                <li><a href="{:U('Dq/detail?type=1')}" title="长兴县青年志愿者化身“种植户”助力低于">长兴县青年志愿者化身“种植户”助力低于</a></li>

                                <li><a href="{:U('Dq/detail?type=1')}" title="长兴县青年志愿者化身“种植户”助力低于">长兴县青年志愿者化身“种植户”助力低于</a></li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

            <div class="home-center MR-25">

                <div class="dq_section tab2">

                    <div class="dq_section-title t_bg1 tab-nav">

                        <div class="item item-active">

                            <i class="iconfont icon-headline"></i>

                            <span>工会头条</span>

                        </div>

                        <div class="item">

                            <i class="iconfont icon-weiquanchuangkoudaohanglan_fuben"></i>

                            <span>维权帮扶</span>

                        </div>

                        <div class="tab-link">
                            <a class="move move-active" href="{:U('Dq/articleList?type=1')}">更多&gt;</a>
                            <a class="move" href="{:U('Dq/articleList?type=2')}">更多&gt;</a>
                        </div>

                    </div>

                    <div class="dq_section-box tab-content" style="padding: 0 17px;">

                        <div class="item item-show">

                            <div class="t_bg1-item">

                                <div class="t_bg1-item-pic">

                                    <a href="javascript:">

                                        <img src="__DQ__/img/page/index/i_pic.png">

                                    </a>

                                </div>

                                <div class="t_bg1-item-right">

                                    <h4><a href="{:U('Dq/detail?type=1')}">长兴县奋斗创造美好生活劳模宣讲队开讲</a> </h4>

                                    <p class="date">2018-03-26</p>

                                    <p class="text"><a href="{:U('Dq/detail?type=1')}">在第58个世界气象日来临之际，长兴县劳模协会组织部分劳动模范走进长兴气象局，围绕“智慧气象”和“气象防灾减灾”开展“奋斗创造美好生活劳模宣讲”活动。</a> </p>

                                </div>

                            </div>

                            <div class="t_bg1-item">

                                <div class="t_bg1-item-pic">

                                    <a href="javascript:">

                                        <img src="__DQ__/img/page/index/i_pic.png">

                                    </a>

                                </div>

                                <div class="t_bg1-item-right">

                                    <h4><a href="{:U('Dq/detail?type=1')}">长兴县奋斗创造美好生活劳模宣讲队开讲</a> </h4>

                                    <p class="date">2018-03-26</p>

                                    <p class="text"><a href="{:U('Dq/detail?type=1')}">在第58个世界气象日来临之际，长兴县劳模协会组织部分劳动模范走进长兴气象局，围绕“智慧气象”和“气象防灾减灾”开展“奋斗创造美好生活劳模宣讲”活动。</a> </p>

                                </div>

                            </div>

                        </div>

                        <div class="item">

                            <div class="t_bg1-item">

                                <div class="t_bg1-item-pic">

                                    <a href="{:U('Dq/detail?type=1')}">

                                        <img src="__DQ__/img/page/index/i_pic.png">

                                    </a>

                                </div>

                                <div class="t_bg1-item-right">

                                    <h4><a href="{:U('Dq/detail?type=2')}">长兴县奋斗创造美好生活劳模宣讲队开讲</a> </h4>

                                    <p class="date">2018-03-26</p>

                                    <p class="text"><a href="{:U('Dq/detail?type=1')}">在第58个世界气象日来临之际，长兴县劳模协会组织部分劳动模范走进长兴气象局，围绕“智慧气象”和“气象防灾减灾”开展“奋斗创造美好生活劳模宣讲”活动。</a> </p>

                                </div>

                            </div>

                            <div class="t_bg1-item">

                                <div class="t_bg1-item-pic">

                                    <a href="javascript:">

                                        <img src="__DQ__/img/page/index/i_pic.png">

                                    </a>

                                </div>

                                <div class="t_bg1-item-right">

                                    <h4><a href="{:U('Dq/detail?type=2')}">长兴县奋斗创造美好生活劳模宣讲队开讲123</a> </h4>

                                    <p class="date">2018-03-26</p>

                                    <p class="text"><a href="{:U('Dq/detail?type=1')}">在第58个世界气象日来临之际，长兴县劳模协会组织部分劳动模范走进长兴气象局，围绕“智慧气象”和“气象防灾减灾”开展“奋斗创造美好生活劳模宣讲”活动。</a> </p>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="dq_section tab3 MT-15">

                    <div class="dq_section-title tab-nav t_bg2">

                        <div class="item item-active">

                            <i class="iconfont icon-dongtai"></i>

                            <span>妇工动态</span>

                        </div>

                        <div class="item">

                            <i class="iconfont icon-xing"></i>

                            <span>妇联服务</span>

                        </div>

                        <div class="tab-link">
                            <a class="move move-active" href="{:U('Dq/articleList?type=3')}">更多&gt;</a>
                            <a class="move" href="{:U('Dq/articleList?type=3')}">更多&gt;</a>
                        </div>

                    </div>

                    <div class="dq_section-box tab-content">

                        <div class="item item-show">

                            <ul class="t_bg2-list">

                                <li><a href="{:U('Dq/detail?type=1')}">入谋划共建机制 打造区域化妇建格局——李家巷镇妇</a></li>

                                <li><a href="{:U('Dq/detail?type=1')}">入谋划共建机制 打造区域化妇建格局——李家巷镇妇</a></li>

                                <li><a href="{:U('Dq/detail?type=1')}">入谋划共建机制 打造区域化妇建格局——李家巷镇妇</a></li>

                                <li><a href="{:U('Dq/detail?type=1')}">入谋划共建机制 打造区域化妇建格局——李家巷镇妇</a></li>

                                <li><a href="{:U('Dq/detail?type=1')}">入谋划共建机制 打造区域化妇建格局——李家巷镇妇</a></li>

                            </ul>

                        </div>

                        <div class="item">

                            <ul class="t_bg2-list">

                                <li><a href="{:U('Dq/detail?type=1')}">入谋划共建机制 打造区域化妇建格局——李家巷镇妇12331132323</a></li>

                                <li><a href="{:U('Dq/detail?type=1')}">入谋划共建机制 打造区域化妇建格局——李家巷镇妇</a></li>

                                <li><a href="{:U('Dq/detail?type=1')}">入谋划共建机制 打造区域化妇建格局——李家巷镇妇</a></li>

                                <li><a href="{:U('Dq/detail?type=1')}">入谋划共建机制 打造区域化妇建格局——李家巷镇妇</a></li>

                                <li><a href="{:U('Dq/detail?type=1')}">入谋划共建机制 打造区域化妇建格局——李家巷镇妇</a></li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

            <div class="home-right">

                <a href="{:U('Dq/category')}" class="home-right-item item_1">

                    <i class="iconfont icon-ziyuankuguanli"></i>

                    <span>长兴党建</span>

                </a>

                <a href="{:U('Dq/union')}" class="home-right-item item_2">

                    <i class="iconfont icon-gonghuihuodong"></i>

                    <span>长兴工会</span>

                </a>

                <a href="javascript:" class="home-right-item item_3">

                    <i class="iconfont icon-tuanweiguanli"></i>

                    <span>长兴团委</span>

                </a>

                <a href="javascript:" class="home-right-item item_4">

                    <i class="iconfont icon-fulian"></i>

                    <span>长兴妇联</span>

                </a>

            </div>

        </section>

    </div>
    <!-- dq_main end-->

<script>

  require(['tab'],function (tab) {

    tab('.tab1');tab('.tab2');tab('.tab3');

  })

</script>
</body>
</html>