<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>长兴党建</title>
    <!-- 引入css文件 -->
    <link rel="stylesheet" href="__DQ__/css/index-style.css">
    <!-- 引入require及config文件  -->
    <script src="__DQ__/js/lib/require.min.js"></script>
    <script src="__DQ__/js/require-config.js"></script>
    <script>
      requirejs({
        baseUrl: "js"
      })
    </script>
</head>
<body class="page i_union">

<!-- dq_main -->
<div class="dq_main zj">

    <header class="dq_main-header zj-header">

        <div class="dq_main-header-go">

            <a href="javascript:history.back(-1);">

                <i class="iconfont icon-fanhui"></i>

                <span>返回</span>

            </a>

        </div>

        <h1 class="dq_main-header-title">长兴党建</h1>

    </header>

    <section class="dq_main-container">

        <div class="dq_main-container-box menu">

            <ul class="i_union-list item item-show">

                <li>
                    <a href="{:U('Dq/resource')}">
                        <div class="i_union-list-icon bg1">
                            <i class="iconfont icon-ziyuankuguanli"></i>
                        </div>
                        <span>党群资源库</span>
                    </a>
                </li>

                <li>
                    <a href="javascript:">
                        <div class="i_union-list-icon bg2">
                            <i class="iconfont icon-xiaoyuanfengcai"></i>
                        </div>
                        <span>党员风采</span>
                    </a>
                </li>

                <li>
                    <a href="javascript:">
                        <div class="i_union-list-icon bg3">
                            <i class="iconfont icon-dangzhibugongzuojibenzhishi"></i>
                        </div>
                        <span>先进党支部</span>
                    </a>
                </li>

                <li>
                    <a href="{:U('Dq/dangjian')}">
                        <div class="i_union-list-icon bg4">
                            <i class="iconfont icon-chengguozhanshi"></i>
                        </div>
                        <span>党建成果</span>
                    </a>
                </li>

                <li>
                    <a href="javascript:">
                        <div class="i_union-list-icon bg5">
                            <i class="iconfont icon-pinpai"></i>
                        </div>
                        <span>党建品牌</span>
                    </a>
                </li>

                <li>
                    <a href="{:U('Dq/san_class')}">
                        <div class="i_union-list-icon bg6">
                            <i class="iconfont icon-shu"></i>
                        </div>
                        <span>三会一课</span>
                    </a>
                </li>

            </ul>

        </div>

    </section>

</div>
<!-- dq_main end-->

</body>
</html>