<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>法人登记</title>
    <!-- 引入css文件 -->
    <link rel="stylesheet" href="../../../../../Public/dq/css/index-style.css">
    <!-- 引入require及config文件  -->
    <script src="../../../../../Public/dq/js/lib/require.min.js"></script>
    <script src="../../../../../Public/dq/js/require-config.js"></script>
    <script>
      requirejs({
        baseUrl: "js"
      })
    </script>
</head>
<body class="page register">

<!-- dq_main -->
<div class="dq_main zj">

    <header class="dq_main-header zj-header">

        <div class="dq_main-header-go">

            <a href="javascript:history.back(-1);">

                <i class="iconfont icon-fanhui"></i>

                <span>返回</span>

            </a>

        </div>

        <h1 class="dq_main-header-title">法人登记</h1>

    </header>

    <section class="dq_main-container">

        <div class="dq_main-container-box" id="wrapper">

            <div class="register-content">

                <div class="register-content-title">

                    <p>《关于申请、变更工会法人的有关事项》</p>

                </div>

                <div class="register-content-box">

                    <div class="left">

                        <h3>表格下载</h3>

                        <ul class="left-list">

                            <li>
                                <span class="left-list-name">
                                    场地证明
                                </span>
                                <a href="javascript:" class="left-list-link">下载</a>
                            </li>

                            <li>
                                <span class="left-list-name">
                                    工会法人资格变更登记表
                                </span>
                                <a href="javascript:" class="left-list-link">下载</a>
                            </li>

                            <li>
                                <span class="left-list-name">
                                    工会法人资格申请登记表
                                </span>
                                <a href="javascript:" class="left-list-link">下载</a>
                            </li>

                            <li>
                                <span class="left-list-name">
                                    基层工会经费、财产验资证明
                                </span>
                                <a href="javascript:" class="left-list-link">下载</a>
                            </li>

                            <li>
                                <span class="left-list-name">
                                    资金证明
                                </span>
                                <a href="javascript:" class="left-list-link">下载</a>
                            </li>

                        </ul>

                    </div>

                    <div class="right">

                        <img src="../../../../../Public/dq/img/page/register/r_pic.jpg" alt=""/>

                    </div>

                </div>

            </div>

        </div>

    </section>

</div>
<!-- dq_main end-->

<script>

  require(['scroll'],function () {

  })

</script>
</body>
</html>