<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>长兴工会</title>
    <!-- 引入css文件 -->
    <link rel="stylesheet" href="../../../../../Public/dq/css/index-style.css">
    <!-- 引入require及config文件  -->
    <script src="../../../../../Public/dq/js/lib/require.min.js"></script>
    <script src="../../../../../Public/dq/js/require-config.js"></script>
    <script>
      requirejs({
        baseUrl: "js"
      })
    </script>
</head>
<body class="page i_union">

<!-- dq_main -->
<div class="dq_main zj">

    <header class="dq_main-header zj-header">

        <div class="dq_main-header-go">

            <a href="javascript:history.back(-1);">

                <i class="iconfont icon-fanhui"></i>

                <span>返回</span>

            </a>

        </div>

        <h1 class="dq_main-header-title">长兴工会</h1>

    </header>

    <section class="dq_main-container">

        <div class="class-box tab">

            <nav class="class-box-nav tab-nav">

                <div class="item item-active">

                    <span>工作人员</span>

                </div>

                <div class="item">

                    <span>会员服务</span>

                </div>

            </nav>

            <div class="class-box-list tab-content" id="wrapper">

                <div style="width: 100%;height: 100%;">
                    <ul class="i_union-list item item-show">
                        <li>
                            <a href="{:U('Dq/register')}">
                                <div class="i_union-list-icon bg1">
                                    <i class="iconfont icon-baoandengji"></i>
                                </div>
                                <span>法人登记</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:">
                                <div class="i_union-list-icon bg2">
                                    <i class="iconfont icon-zhengcejiedu"></i>
                                </div>
                                <span>政策法规</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:">
                                <div class="i_union-list-icon bg3">
                                    <i class="iconfont icon-fangchan"></i>
                                </div>
                                <span>入会建会</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="i_union-list i_union-list1 item" style="padding-top: 80px;">
                        <li>
                            <a href="javascript:">
                                <div class="i_union-list-icon bg1">
                                    <i class="iconfont icon-weiquanchuangkoudaohanglan-"></i>
                                </div>
                                <span>维权</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:">
                                <div class="i_union-list-icon bg4">
                                    <i class="iconfont icon-bangfujiuzhu"></i>
                                </div>
                                <span>帮扶</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:">
                                <div class="i_union-list-icon bg5">
                                    <i class="iconfont icon-yiliao"></i>
                                </div>
                                <span>医疗互助</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:">
                                <div class="i_union-list-icon bg6">
                                    <i class="iconfont icon-jiuyechuangyebaozhangcopy"></i>
                                </div>
                                <span>职工就业</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:">
                                <div class="i_union-list-icon bg7">
                                    <i class="iconfont icon-baoandengji"></i>
                                </div>
                                <span>工会鹊桥</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:">
                                <div class="i_union-list-icon bg8">
                                    <i class="iconfont icon-shu"></i>
                                </div>
                                <span>职工书屋</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:">
                                <div class="i_union-list-icon bg9">
                                    <i class="iconfont icon-zaixian"></i>
                                </div>
                                <span>职工讲堂</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:">
                                <div class="i_union-list-icon bg10">
                                    <i class="iconfont icon-youhui"></i>
                                </div>
                                <span>优惠促销</span>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>

        </div>

    </section>

</div>
<!-- dq_main end-->

<script>

  require(['tab'],function (tab) {

    tab('.tab')

  })

</script>
</body>
</html>