@import "reset.css";
@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1529287878726');
  /* IE9*/
  src: url('../fonts/iconfont.eot?t=1529287878726#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff?t=1529287878726') format('woff'), url('../fonts/iconfont.ttf?t=1529287878726') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg?t=1529287878726#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zhekou:before {
  content: "\e665";
}
.icon-huodong:before {
  content: "\e658";
}
.icon-zhongchouxiangmu:before {
  content: "\e680";
}
.icon-goods:before {
  content: "\e741";
}
.icon-jieshao:before {
  content: "\e639";
}
.icon-ceping:before {
  content: "\e603";
}
.icon-quanbu:before {
  content: "\e60e";
}
.icon-fanhui:before {
  content: "\e607";
}
.icon-jifenshangcheng:before {
  content: "\e612";
}
.icon-paihang:before {
  content: "\e62c";
}
.icon-zhanshi:before {
  content: "\e6b3";
}
.icon-integral_icon:before {
  content: "\e608";
}
.icon-fuwu:before {
  content: "\e6a0";
}
html {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'microsoft yahei';
  background: url("../imgs/bg_index.jpg") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  overflow: hidden;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
