<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__VENUE__/css/index.css">
    <title>场馆来访展示系统</title>
</head>
<body class="index">
<header class="head1">
    <p class="time" id="time"></p>
    <p class="date date1" id="date"></p>
    <p class="date week" id="day"></p>
    <div class="weather_box1">
        <p class="temperature">24～34℃</p>
        <p class="weather_box2">
            <span class="addr">长兴县</span>
            <span class="weather">雷阵雨转多云</span>
        </p>
    </div>
</header>
<article class="msg_box">
    <!--信息展示的头部-->
    <div class="title1_box">
        <p class="title1">最近来访团体信息</p>
        <input type="text" id="dateInput">
        <span class="text1">选择日期</span>
    </div>
    <!--信息展示的区域-->
    <div class="msg">
        <ul id="scrollMsg">
            <volist name="list" id="vo">
                <li>
                    <span class="text1">{$vo.name}/{$vo.num}人</span>
                    <span class="text2">{$vo.cre_time}</span>
                </li>
            </volist>
        </ul>
    </div>
</article>
<article class="num_box" id="numBox">
    <img src="__VENUE__/imgs/number.png" alt="">
    <div class="little_box">
        <p class="month_box">
            <span class="year1 tabs1" id="thisyear">当年</span>
            <span class="month1 tabs1" id="thismonth">当月</span>
        </p>
        <p class="border1"></p>
        <p class="num1" style="display: none" id="yearnum">{$count2}</p>
        <p class="num1" style="display: block" id="monthnum">{$count1}</p>
    </div>
</article>
<script type="text/javascript" src="__VENUE__/libs/jquery/jquery.js"></script>
<script type="text/javascript" src="__VENUE__/libs/laydate/laydate.js"></script>
<script type="text/javascript" src="__VENUE__/js/index.js"></script>
</body>
</html>