<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <link rel="stylesheet" href="../css/section.css">
    <title>党员公益互助系统</title>
</head>
<body class="section">
<header class="header2">
    <p>
        <!--标题-->
        <span class="title2">党员公益先锋</span>
        <!--返回按钮-->
        <a class="return" href="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            <span class="text2">返回</span>
        </a>
    </p>
</header>
<article class="content2 party_van_detail">
    <div class="top">
        <img src="../imgs/head.png" alt="">
        <div class="right_text">
            <p class="title1">王书记</p>
            <p class="text1">书记</p>
            <p class="text2">项目由民生公益基金会发起，通过整合社区企业资源，为区域内的困难家庭学生提供爱心资助，期待您的参与项目由民生公益基金会发起，通过整合社区企业资源，为区域内的困难家庭学生提供爱心资助，期待您的参与项目由民生公益基金会发起，通过整合社区企业资源，为区域内的困难家庭学生提供爱心资助，期待您的参与项目由民生公益基金会发起，通过整合社区企业资源，为区域内的困难家庭学生提供爱心资助，期待您的参与项目由民生公益基金会发起，通过整合社区企业资源，为区域内的困难家庭学生提供爱心资助，期待您的参与。</p>
        </div>
    </div>
    <div class="title2_box">参与的公益活动</div>
    <p class="border"></p>
    <div class="bottom">
        <div class="bottom_box">
            <img src="../imgs/test1.png" alt="">
            <div class="text_box">
                <p class="title3">爱心助学</p>
                <p class="text">项目由民生公益基金会发起，通过整合社区企业资源，为区域内的困难家庭学生提供爱心资助，期待您的参与。</p>
            </div>
        </div>
        <div class="bottom_box">
            <img src="../imgs/test1.png" alt="">
            <div class="text_box">
                <p class="title3">爱心助学</p>
                <p class="text">项目由民生公益基金会发起，通过整合社区企业资源，为区域内的困难家庭学生提供爱心资助，期待您的参与。</p>
            </div>
        </div>
        <div class="bottom_box">
            <img src="../imgs/test1.png" alt="">
            <div class="text_box">
                <p class="title3">爱心助学</p>
                <p class="text">项目由民生公益基金会发起，通过整合社区企业资源，为区域内的困难家庭学生提供爱心资助，期待您的参与。</p>
            </div>
        </div>
    </div>
</article>
</body>
</html>