
/*气泡*/
.popo{
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #487CDA), color-stop(1, #114CE4));
	display:inline-block; 
	line-height:16px; 
	padding:5 10px; 
	color:#fff; 
	font-size:12px; 
	font-family:Verdana, Geneva, sans-serif; 
	position: absolute;
	z-index:9;
	background-color:#0067c6\9;
}

.cner{ position:absolute; left:-9px; bottom:0px; width:13px; height:8px; background:url(../img/popo_c.png) no-repeat; display:block;}

.data_pop{ 
	cursor: pointer;
	position: absolute;
	z-index: 9;
	right: 20px;
	top: 20px;
	width:84px; height:84px; border:1px solid #ccc; background-color:#fff;-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);}
.data_pop:hover{
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.28);
}
.data_pop .data_img{ height:60px; background-color:#fff;}
.data_pop .data_txt{ height:24px; line-height:24px; background-color:#e5e5e5; text-align:center; font-size:12px; color:#666666;}