<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>服务预约系统</title>
    <link rel="stylesheet" href="__CX__/css/swiper-4.3.2.min.css">
    <link rel="stylesheet" href="__CX__/css/order.css">
</head>
<body class="guide_index">
<header class="header3">
    <p>
        <!--标题-->
        <span class="title2">优秀党建品牌</span>
        <!--返回按钮-->
        <a class="return" href="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            <span class="text2">返回</span>
        </a>
    </p>
</header>
<article class="content3 excellent_party1">
    <div class="top">
        <a href="{:U('Cx/articleList?id=183')}" class="tabs purple">
            <i class="iconfont icon-beijingdiaocha"></i>
            <p>品牌缘起</p>
        </a>
        <a href="{:U('Cx/articleList?id=184')}" class="tabs yellow">
            <i class="iconfont icon-gongzuo1"></i>
            <p>工作机制</p>
        </a>
        <a href="{:U('Cx/articleList?id=185')}" class="tabs blue">
            <i class="iconfont icon-gongzuo2"></i>
            <p>工作内容</p>
        </a>
    </div>
    <div class="bottom">
        <a href="{:U('Cx/articleList?id=186')}" class="tabs blue">
            <i class="iconfont icon-cup"></i>
            <p>工作成效</p>
        </a>
        <a href="{:U('Cx/articleList?id=187')}" class="tabs red">
            <i class="iconfont icon-rongyu"></i>
            <p>荣誉展示</p>
        </a>
        <a href="{:U('Cx/articleList?id=188')}" class="tabs purple">
            <i class="iconfont icon-zhangcheng"></i>
            <p>章程细则</p>
        </a>
        <a href="{:U('Cx/brand_videoList?id=189')}" class="tabs yellow">
            <i class="iconfont icon-shipin"></i>
            <p>专题片</p>
        </a>
    </div>
</article>
</body>
</html>