<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>服务预约系统</title>
    <link rel="stylesheet" href="__CX__/css/order.css">
</head>
<body>
<header class="header2">
    <p>
        <!--标题-->
        <span class="title2">众筹服务</span>
        <!--返回按钮-->
        <a class="return" href="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            <span class="text2">返回</span>
        </a>
    </p>
</header>
<article class="content2 crowd_funding">
    <img class="activity_img" src="http://183.131.86.64:8620/Uploads/Picture/2018-06-24/5b2f68a7ea208.png" alt="">
    <p class="title1">
        <span class="title1_icon">&nbsp;</span>
        <span class="title1_text">志愿帮扶活动</span>
    </p>
    <time>2018-6-14</time>
    <p class="title1_1">郑家村党员帮助甜瓜基地困难户种植甜瓜苗</p>
    <p class="progress">
        <span class="progress_value" style="width:50%;"></span>
    </p>
    <div class="pro_content">
        <div class="pro_1">
            <p>已完成</p>
            <p>20%</p>
        </div>
        <div class="pro_2">
            <p>所需总人数</p>
            <p>100</p>
        </div>
    </div>
    <p class="title2">参与人数</p>
    <div class="img_box">
        <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTKiclS0UHNHg1VRic1Z3GSpMibvp7jzu20IlfXMyicd8ywibIZWotR1TGUswFd2csXF4l1UpMj2NKd5JibQ/132" alt="">
        <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/ZBywEd6uU8vet4o7ayiaThGGBnmrfruk7xiar2FXq8zcqQ6HtrVRVEqFoAymdjYaKaV5SqAEiaYs2UOf6ud9rUrYQ/132" alt="">
        <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIf5VbamFy49SaRNAjwyGA0fzRR5OcXSkxEH1yhOF2pMFV74KczjoZWKuc1KiaTfgiaJiaiaVXIc6bq0A/132" alt="">
        <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIHyRHiabhKlzCeaObib3LDAIPh8Ric5Dh9BzPhdhDoZfZU3MpGJPdfyqicpQygVAqWUHsfUdpdlmfpHw/132" alt="">
        <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83epuZ5K6VSqFAkZmLALTEec7n9uknE3mUdicwDu5dae9yiabtIBg18WKiaj9HTJ4DkMytiaRgvrf57hF4w/132" alt="">
        <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTLeWWgPKQpacTFxz3JQ1Zk6XuWsoiagJYxRdKE3nW6rNODeSjtWfJwnoUJE949UQGcmzqwrbiabepFQ/132" alt="">
        <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTJmSEccyuUB9MmCmQv1ia45PEia9poE4JXtnk98B8TsB1AryC0gBf2WcDLWko4iafAjHbwbUQeLrEdUQ/132" alt="">
        <!--<img src="__CX__/imgs/head.jpg" alt="">-->
        <!--<img src="__CX__/imgs/head.jpg" alt="">-->
        <!--<img src="__CX__/imgs/head.jpg" alt="">-->
    </div>
    <p class="line"></p>
    <p class="title2">评价内容</p>
    <p class="star_box">
        <span class="little_box">
            <span class="iconfont icon-wujiaoxing icon_red"></span>
            <span class="star_text">非常满意：0</span>
        </span>
        <span class="little_box">
            <span class="iconfont icon-wujiaoxing icon_yellow"></span>
            <span class="star_text">满意：0</span>
        </span>
        <span class="little_box">
            <span class="iconfont icon-wujiaoxing icon_blue"></span>
            <span class="star_text">一般：0</span>
        </span>
        <span class="little_box">
            <span class="iconfont  icon-wujiaoxing icon_grey"></span>
            <span class="star_text">不够满意：0</span>
        </span>
    </p>
    <p class="btn_box">
        <a href="{:U('Cx/zc_applyIndex')}" class="btn1">我要参与</a>
        <span class="btn2">我要评价</span>
    </p>
    <p class="ewm_box">
        <img src="__CX__/imgs/ewm2.png" alt="">
    </p>
    <p class="message">扫描二维码进行预约</p>
</article>
</body>
</html>