<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>党建学习平台</title>
    <link rel="stylesheet" href="__CX__/css/order.css">
</head>
<body class="guide_index">
<header class="header3">
    <p>
        <!--标题-->
        <span class="title2">党建服务中心介绍</span>
        <!--返回按钮-->
        <a class="return" href="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            <span class="text2">返回</span>
        </a>
    </p>
</header>
<article class="content3 detail">
    <p> 随着工业园区框架的逐步，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要，必须通过“单位党建+区域党建”的创新模式合力推进。浙江长兴县借助各类开发区、工业功能区平台优势，整合资源，因地制宜，重点建成了开发区、画溪工业功能区、城南工业功能区、泗安工业区等4个园区党群服务中心，以中心为依托，打造对区域内企业党组织和党员全方位开放、以社会化方式整合资源的区域化党建公共平台，发挥对区域内非公企业的联结、辐射、带动作用，推进了非公企业特别是中小企业党的组织和工作有效覆盖和党组织作用的有效发挥。</p>
    <div class="img_box">
        <img src="__CX__/imgs/activity.jpg" alt="">
        <img src="__CX__/imgs/activity.jpg" alt="">
        <img src="__CX__/imgs/activity.jpg" alt="">
        <img src="__CX__/imgs/activity.jpg" alt="">
    </div>
    <p> 随着工业园区框架的逐步，非公企业不断集聚，党员职工数量不断增加，党建工作的范围也不断拓展，仅靠“单位党建”传统模式已经不能满足形势需要，必须通过“单位党建+区域党建”的创新模式合力推进。浙江长兴县借助各类开发区、工业功能区平台优势，整合资源，因地制宜，重点建成了开发区、画溪工业功能区、城南工业功能区、泗安工业区等4个园区党群服务中心，以中心为依托，打造对区域内企业党组织和党员全方位开放、以社会化方式整合资源的区域化党建公共平台，发挥对区域内非公企业的联结、辐射、带动作用，推进了非公企业特别是中小企业党的组织和工作有效覆盖和党组织作用的有效发挥。</p>
</article>
</body>
</html>