<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>党建学习平台</title>
    <link rel="stylesheet" href="__CX__/css/order.css">
</head>
<body class="guide_index">
<header class="header3">
    <p>
        <!--标题-->
        <span class="title2">党群服务中心介绍</span>
        <!--返回按钮-->
        <a class="return" href="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            <span class="text2">返回</span>
        </a>
    </p>
</header>
<article class="organize_build squre4">
    <a href="{:U('cx/member?id='.$title_id[0][id])}" class="red">
        <span class="iconfont icon-gongzuorenyuan"></span>
        <p>工作人员</p>
    </a>
    <a href="{:U('cx/articleList?id='.$title_id[1][id])}" class="orange_navy">
        <span class="iconfont icon-guizhangzhidu"></span>
        <p>制度创建</p>
    </a>
    <a href="{:U('cx/articleList?id='.$title_id[3][id])}" class="orange_lite">
        <span class="iconfont icon-zuzhijiagou"></span>
        <p>组织架构</p>
    </a>
    <a href="{:U('cx/articleList?id='.$title_id[2][id])}" class="yellow">
        <span class="iconfont icon-tongxunlu"></span>
        <p>组织名录</p>
    </a>
</article>
</body>
</html>