<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>服务预约系统</title>
    <link rel="stylesheet" href="__CX__/css/order.css">
</head>
<body>
<header class="header2">
    <p>
        <!--标题-->
        <span class="title2">场地预约</span>
        <!--返回按钮-->
        <a class="return" href="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            <span class="text2">返回</span>
        </a>
    </p>
</header>
<article class="content2 activity_order place_order">
    <p class="title">
        <span class="mark1"></span>
        <span class="font1">商务楼宇综合服务站</span>
    </p>
    <div class="input_box">
        <div>
            <p>
                <span class="iconfont icon-lianxiren icon_yellow"></span>
                <span class="text2">姓名</span>
            </p>
            <input type="text" placeholder="请输入姓名" id="name">
        </div>
        <div>
            <p>
                <span class="iconfont icon-ic_huodongzhuti icon_blue"></span>
                <span class="text2">活动主题</span>
            </p>
            <input type="text" placeholder="请输入活动主题" id="card">
        </div>
        <div>
            <p>
                <span class="iconfont icon-dianhua icon_blue"></span>
                <span class="text2">联系方式</span>
            </p>
            <input type="text" placeholder="请输入联系方式" id="phone">
        </div>

        <div>
            <p>
                <span class="iconfont icon-beizhu icon_green"></span>
                <span class="text2">备注</span>
            </p>
            <input type="text" placeholder="备注请输入100字以内">
        </div>

        <div>
            <p>
                <span class="iconfont icon-renshu1 icon_yellow"></span>
                <span class="text2">人数</span>
            </p>
            <input type="text" placeholder="人数" id="">
        </div>
        <div>
            <p>
                <span class="iconfont icon-shenfenzheng icon_red"></span>
                <span class="text2">身份证号码</span>
            </p>
            <input type="text">
        </div>
        <div>
            <p>
                <span class="iconfont icon-shijian icon_green"></span>
                <span class="text2">开始时间</span>
            </p>
            <input type="text">
        </div>
        <div>
            <p>
                <span class="iconfont icon-shijian icon_yellow"></span>
                <span class="text2">结束时间</span>
            </p>
            <input type="text">
        </div>
        <div>
            <p>
                <span class="iconfont icon-renlingxiangmuxuanzhong- icon_red"></span>
                <span class="text2">所属支部</span>
            </p>
            <select name="" id="organization">
                <option class="option1" value="0" selected>请选择所属党组织</option>
                <option class="option1" value="第一党组织">第一党支部</option>
                <option class="option1" value="第二党组织">第二支部</option>
                <option class="option1" value="第三党组织">第三支部</option>
            </select>
            <img src="__CX__/imgs/arrow.png" alt="">
        </div>
        <div class="check_box">
            <p>
                <span class="text2">设备要求</span>
            </p>
            <div class="">
                <label><span></span>LED屏幕 </label>
                <label><span></span>投影 </label>
                <label><span></span>话筒 </label>
                <label><span></span>电脑 </label>
            </div>
        </div>
    </div>
    <p class="btn_box1 submit_box">
        <a id="submit">提交</a>
    </p>
    <input type="text" id="displayInput" style="display: none;" value="12">
    <div id="popUp">
        <p class="pop_title">提&nbsp;&nbsp;示</p>
        <p class="pop_content"></p>
        <span class="sure">确 定</span>
    </div>
</article>
</body>
<script type="text/javascript" src="__CX__/libs/jquery/jquery.js"></script>
</html>