<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>服务预约系统</title>
    <link rel="stylesheet" href="__CX__/css/order.css">
</head>
<body>
<header class="header2">
    <p>
        <!--标题-->
        <span class="title2">主题党课</span>
        <!--返回按钮-->
        <a class="return" href="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            <span class="text2">返回</span>
        </a>
    </p>
</header>
<article class="content2 activity_order">
    <p class="title">
        <span class="mark1"></span>
        <span class="font1">{$classList.title}</span>
    </p>
    <div class="list_box">
        <ul>
            <li>时间：{$classList.time}</li>
            <li>地点：{$classList.addr}</li>
            <li>组织单位：{$classList.host}</li>
            <li>授课老师：{$classList.teacher}</li>
            <li>教室容量：{$classList.num}</li>
            <li class="act_cont">党课内容：{$classList.content}</li>
        </ul>
        <div class="img_box">
            <img src="__CX__/imgs/ewm.jpg" alt="">
            <p>扫描二维码进行预约</p>
        </div>
    </div>
    <p class="btn_box">
        <a href="/Cx/Cx/bespoke_index.html?dataId={$classList.id}">预约</a>
    </p>
</article>
</body>
</html>