<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>服务预约系统</title>
    <link rel="stylesheet" href="__CX__/css/swiper-4.3.2.min.css">
    <link rel="stylesheet" href="__CX__/css/order.css">
</head>
<body class="guide_index">
<header class="header3">
    <p>
        <!--标题-->
        <span class="title2">专题片</span>
        <!--返回按钮-->
        <a class="return" href="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            <span class="text2">返回</span>
        </a>
    </p>
</header>
<article class="content3 video_list">
    <div class="big_box">
        <volist name="result" id="vo">
        <div class="flex_box" data-id="{$vo.path}">
            <img src="{$vo.img_url}" >
            <p class="title">{$vo.title}</p>
        </div>
        </volist>
    </div>
</article>
<article class="play_box" id="playBox">
    <video src="" autoplay controls></video>
    <span class="closer">×</span>
</article>
<script type="text/javascript" src="__CX__/libs/jquery/jquery.js"></script>
<script type="text/javascript">
    $(function(){
        $('.big_box').on('click','.flex_box',function(){
            var link=$(this).attr('data-id');
            $('#playBox video').attr('src',link);
            $('.play_box').show();
        });
        //点击关闭按钮关闭视频
        $('.play_box').on('click','.closer',function(){
            $('.play_box').hide();
            $('.play_box video').trigger('pause');
        })
    })
</script>
</body>
</html>