<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务预约系统</title>
    <link rel="stylesheet" href="__CX__/css/order.css">
    <style>
            .guide_index .content3 table{
                width: 100% !important;
            }

    </style>
</head>
<body class="guide_index">
<header class="header3">
    <p>
        <!--标题-->
        <span class="title2">{$detail.stitle}</span>
        <!--返回按钮-->
        <a class="return" href="javascript:history.back(-1);">
            <span class="iconfont icon-fanhui"></span>
            <span class="text2">返回</span>
        </a>
    </p>
</header>
<article class="content3 detail">
    <div>{$detail.content}</div>

</article>
</body>
</html>