/* 重置&默认(reset&base)(tags) */
@import "//at.alicdn.com/t/font_698012_ghhw08x4os.css";
*[hidefocus],
input,
textarea,
a {
  outline: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
fieldset,
img,
html,
body,
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li {
  list-style: none;
}
/*h1,h2,h3,h4,h5,h6{font-size:100%;}*/
caption,
th {
  font-weight: normal;
  font-style: normal;
  text-align: left;
}
em,
strong {
  font-weight: bold;
  font-style: normal;
}
/* body,textarea,select,input,pre{font-family:arial,microsoft yahei,helvetica,sans-serif;font-size:14px;color:#555;}*/
/* body{background:#f8f8f8;line-height:1.5em;-webkit-text-size-adjust:none;}*/
a,
button {
  cursor: pointer;
}
textarea {
  resize: none;
  overflow: auto;
}
pre {
  white-space: pre-wrap;
}
a {
  color: #333;
  text-decoration: none;
}
input {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-modify: read-write-plaintext-only;
}
button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.omit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right!important;
}
.pull-left {
  float: left!important;
}
.text-right {
  text-align: right!important;
}
.text-left {
  text-align: left!important;
}
.text-center {
  text-align: center!important;
}
.hide {
  display: none!important;
}
.show {
  display: block!important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
[v-cloak] {
  display: none;
}
.db {
  display: block!important;
}
.dn {
  display: none!important;
}
.img-box {
  width: 100%;
  height: 100%;
}
.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: '';
  display: block;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.img-hove {
  transition: all .3s;
}
.img-hove:hover {
  transform: scale(1.4);
  opacity: .8;
}
.ML-5 {
  margin-left: 5px;
}
.ML-10 {
  margin-left: 10px;
}
.ML-15 {
  margin-left: 15px;
}
.ML-20 {
  margin-left: 20px;
}
.ML-25 {
  margin-left: 25px;
}
.ML-30 {
  margin-left: 30px;
}
.ML-35 {
  margin-left: 35px;
}
.ML-40 {
  margin-left: 40px;
}
.ML-45 {
  margin-left: 45px;
}
.ML-50 {
  margin-left: 50px;
}
.ML-55 {
  margin-left: 55px;
}
.ML-60 {
  margin-left: 60px;
}
.ML-65 {
  margin-left: 65px;
}
.ML-70 {
  margin-left: 70px;
}
.ML-75 {
  margin-left: 75px;
}
.ML-80 {
  margin-left: 80px;
}
.ML-85 {
  margin-left: 85px;
}
.ML-90 {
  margin-left: 90px;
}
.ML-95 {
  margin-left: 95px;
}
.ML-100 {
  margin-left: 100px;
}
.MLR-5 {
  margin-left: 0.05rem;
}
.MLR-10 {
  margin-left: 0.10rem;
}
.MLR-15 {
  margin-left: 0.15rem;
}
.MLR-20 {
  margin-left: 0.20rem;
}
.MLR-25 {
  margin-left: 0.25rem;
}
.MLR-30 {
  margin-left: 0.30rem;
}
.MLR-35 {
  margin-left: 0.35rem;
}
.MLR-40 {
  margin-left: 0.40rem;
}
.MLR-45 {
  margin-left: 0.45rem;
}
.MLR-50 {
  margin-left: 0.50rem;
}
.MLR-55 {
  margin-left: 0.55rem;
}
.MLR-60 {
  margin-left: 0.60rem;
}
.MLR-65 {
  margin-left: 0.65rem;
}
.MLR-70 {
  margin-left: 0.70rem;
}
.MLR-75 {
  margin-left: 0.75rem;
}
.MLR-80 {
  margin-left: 0.80rem;
}
.MLR-85 {
  margin-left: 0.85rem;
}
.MLR-90 {
  margin-left: 0.90rem;
}
.MLR-95 {
  margin-left: 0.95rem;
}
.MLR-100 {
  margin-left: 1rem;
}
.MR-5 {
  margin-right: 5px;
}
.MR-10 {
  margin-right: 10px;
}
.MR-15 {
  margin-right: 15px;
}
.MR-20 {
  margin-right: 20px;
}
.MR-25 {
  margin-right: 25px;
}
.MR-30 {
  margin-right: 30px;
}
.MR-35 {
  margin-right: 35px;
}
.MR-40 {
  margin-right: 40px;
}
.MR-45 {
  margin-right: 45px;
}
.MR-50 {
  margin-right: 50px;
}
.MR-55 {
  margin-right: 55px;
}
.MR-60 {
  margin-right: 60px;
}
.MR-65 {
  margin-right: 65px;
}
.MR-70 {
  margin-right: 70px;
}
.MR-75 {
  margin-right: 75px;
}
.MR-80 {
  margin-right: 80px;
}
.MR-85 {
  margin-right: 85px;
}
.MR-90 {
  margin-right: 90px;
}
.MR-95 {
  margin-right: 95px;
}
.MR-100 {
  margin-right: 100px;
}
.MRR-5 {
  margin-right: 0.05rem;
}
.MRR-10 {
  margin-right: 0.10rem;
}
.MRR-15 {
  margin-right: 0.15rem;
}
.MRR-20 {
  margin-right: 0.20rem;
}
.MRR-25 {
  margin-right: 0.25rem;
}
.MRR-30 {
  margin-right: 0.30rem;
}
.MRR-35 {
  margin-right: 0.35rem;
}
.MRR-40 {
  margin-right: 0.40rem;
}
.MRR-45 {
  margin-right: 0.45rem;
}
.MRR-50 {
  margin-right: 0.50rem;
}
.MRR-55 {
  margin-right: 0.55rem;
}
.MRR-60 {
  margin-right: 0.60rem;
}
.MRR-65 {
  margin-right: 0.65rem;
}
.MRR-70 {
  margin-right: 0.70rem;
}
.MRR-75 {
  margin-right: 0.75rem;
}
.MRR-80 {
  margin-right: 0.80rem;
}
.MRR-85 {
  margin-right: 0.85rem;
}
.MRR-90 {
  margin-right: 0.90rem;
}
.MRR-95 {
  margin-right: 0.95rem;
}
.MRR-100 {
  margin-right: 1rem;
}
.MB-5 {
  margin-bottom: 5px;
}
.MB-10 {
  margin-bottom: 10px;
}
.MB-15 {
  margin-bottom: 15px;
}
.MB-20 {
  margin-bottom: 20px;
}
.MB-25 {
  margin-bottom: 25px;
}
.MB-30 {
  margin-bottom: 30px;
}
.MB-35 {
  margin-bottom: 35px;
}
.MB-40 {
  margin-bottom: 40px;
}
.MB-45 {
  margin-bottom: 45px;
}
.MB-50 {
  margin-bottom: 50px;
}
.MB-55 {
  margin-bottom: 55px;
}
.MB-60 {
  margin-bottom: 60px;
}
.MB-65 {
  margin-bottom: 65px;
}
.MB-70 {
  margin-bottom: 70px;
}
.MB-75 {
  margin-bottom: 75px;
}
.MB-80 {
  margin-bottom: 80px;
}
.MB-85 {
  margin-bottom: 85px;
}
.MB-90 {
  margin-bottom: 90px;
}
.MB-95 {
  margin-bottom: 95px;
}
.MB-100 {
  margin-bottom: 100px;
}
.MBR-5 {
  margin-bottom: 0.05rem;
}
.MBR-10 {
  margin-bottom: 0.10rem;
}
.MBR-15 {
  margin-bottom: 0.15rem;
}
.MBR-20 {
  margin-bottom: 0.20rem;
}
.MBR-25 {
  margin-bottom: 0.25rem;
}
.MBR-30 {
  margin-bottom: 0.30rem;
}
.MBR-35 {
  margin-bottom: 0.35rem;
}
.MBR-40 {
  margin-bottom: 0.40rem;
}
.MBR-45 {
  margin-bottom: 0.45rem;
}
.MBR-50 {
  margin-bottom: 0.50rem;
}
.MBR-55 {
  margin-bottom: 0.55rem;
}
.MBR-60 {
  margin-bottom: 0.60rem;
}
.MBR-65 {
  margin-bottom: 0.65rem;
}
.MBR-70 {
  margin-bottom: 0.70rem;
}
.MBR-75 {
  margin-bottom: 0.75rem;
}
.MBR-80 {
  margin-bottom: 0.80rem;
}
.MBR-85 {
  margin-bottom: 0.85rem;
}
.MBR-90 {
  margin-bottom: 0.90rem;
}
.MBR-95 {
  margin-bottom: 0.95rem;
}
.MBR-100 {
  margin-bottom: 1rem;
}
.MTR-5 {
  margin-top: 0.05rem;
}
.MTR-10 {
  margin-top: 0.10rem;
}
.MTR-15 {
  margin-top: 0.15rem;
}
.MTR-20 {
  margin-top: 0.20rem;
}
.MTR-25 {
  margin-top: 0.25rem;
}
.MTR-30 {
  margin-top: 0.30rem;
}
.MTR-35 {
  margin-top: 0.35rem;
}
.MTR-40 {
  margin-top: 0.40rem;
}
.MTR-45 {
  margin-top: 0.45rem;
}
.MTR-50 {
  margin-top: 0.50rem;
}
.MTR-55 {
  margin-top: 0.55rem;
}
.MTR-60 {
  margin-top: 0.60rem;
}
.MTR-65 {
  margin-top: 0.65rem;
}
.MTR-70 {
  margin-top: 0.70rem;
}
.MTR-75 {
  margin-top: 0.75rem;
}
.MTR-80 {
  margin-top: 0.80rem;
}
.MTR-85 {
  margin-top: 0.85rem;
}
.MTR-90 {
  margin-top: 0.90rem;
}
.MTR-95 {
  margin-top: 0.95rem;
}
.MTR-100 {
  margin-top: 1rem;
}
.H-1 {
  height: 8.3%;
}
.H-2 {
  height: 16.6%;
}
.H-3 {
  height: 25%;
}
.H-4 {
  height: 33.3%;
}
.H-5 {
  height: 41.6%;
}
.H-6 {
  height: 50%;
}
.H-7 {
  height: 58.3%;
}
.H-8 {
  height: 66.6%;
}
.H-9 {
  height: 75%;
}
.H-10 {
  height: 83.3%;
}
.H-11 {
  height: 91.6%;
}
.H-12 {
  height: 100%;
}
.MT-5 {
  margin-top: 5px;
}
.MT-10 {
  margin-top: 10px;
}
.MT-15 {
  margin-top: 15px;
}
.MT-20 {
  margin-top: 20px;
}
.MT-25 {
  margin-top: 25px;
}
.MT-30 {
  margin-top: 30px;
}
.MT-35 {
  margin-top: 35px;
}
.MT-40 {
  margin-top: 40px;
}
.MT-45 {
  margin-top: 45px;
}
.MT-50 {
  margin-top: 50px;
}
.MT-55 {
  margin-top: 55px;
}
.MT-60 {
  margin-top: 60px;
}
.MT-65 {
  margin-top: 65px;
}
.MT-70 {
  margin-top: 70px;
}
.MT-75 {
  margin-top: 75px;
}
.MT-80 {
  margin-top: 80px;
}
.MT-85 {
  margin-top: 85px;
}
.MT-90 {
  margin-top: 90px;
}
.MT-100 {
  margin-top: 100px;
}
.PL-5 {
  padding-left: 5px;
}
.PL-10 {
  padding-left: 10px;
}
.PL-15 {
  padding-left: 15px;
}
.PL-20 {
  padding-left: 20px;
}
.PL-25 {
  padding-left: 25px;
}
.PL-30 {
  padding-left: 30px;
}
.PL-35 {
  padding-left: 35px;
}
.PL-40 {
  padding-left: 40px;
}
.PL-45 {
  padding-left: 45px;
}
.PL-50 {
  padding-left: 50px;
}
.PL-55 {
  padding-left: 55px;
}
.PL-60 {
  padding-left: 60px;
}
.PL-65 {
  padding-left: 65px;
}
.PL-70 {
  padding-left: 70px;
}
.PL-75 {
  padding-left: 75px;
}
.PL-80 {
  padding-left: 80px;
}
.PL-85 {
  padding-left: 85px;
}
.PL-90 {
  padding-left: 90px;
}
.PL-95 {
  padding-left: 95px;
}
.PL-100 {
  padding-left: 100px;
}
.PLR-5 {
  padding-left: 0.05rem;
}
.PLR-10 {
  padding-left: 0.10rem;
}
.PLR-15 {
  padding-left: 0.15rem;
}
.PLR-20 {
  padding-left: 0.20rem;
}
.PLR-25 {
  padding-left: 0.25rem;
}
.PLR-30 {
  padding-left: 0.30rem;
}
.PLR-35 {
  padding-left: 0.35rem;
}
.PLR-40 {
  padding-left: 0.40rem;
}
.PLR-45 {
  padding-left: 0.45rem;
}
.PLR-50 {
  padding-left: 0.50rem;
}
.PLR-55 {
  padding-left: 0.55rem;
}
.PLR-60 {
  padding-left: 0.60rem;
}
.PLR-65 {
  padding-left: 0.65rem;
}
.PLR-70 {
  padding-left: 0.70rem;
}
.PLR-75 {
  padding-left: 0.75rem;
}
.PLR-80 {
  padding-left: 0.80rem;
}
.PLR-85 {
  padding-left: 0.85rem;
}
.PLR-90 {
  padding-left: 0.90rem;
}
.PLR-95 {
  padding-left: 0.95rem;
}
.PLR-100 {
  padding-left: 1rem;
}
.PR-5 {
  padding-right: 5px;
}
.PR-10 {
  padding-right: 10px;
}
.PR-15 {
  padding-right: 15px;
}
.PR-20 {
  padding-right: 20px;
}
.PR-25 {
  padding-right: 25px;
}
.PR-30 {
  padding-right: 30px;
}
.PR-35 {
  padding-right: 35px;
}
.PR-40 {
  padding-right: 40px;
}
.PR-45 {
  padding-right: 45px;
}
.PR-50 {
  padding-right: 50px;
}
.PR-55 {
  padding-right: 55px;
}
.PR-60 {
  padding-right: 60px;
}
.PR-65 {
  padding-right: 65px;
}
.PR-70 {
  padding-right: 70px;
}
.PR-75 {
  padding-right: 75px;
}
.PR-80 {
  padding-right: 80px;
}
.PR-85 {
  padding-right: 85px;
}
.PR-90 {
  padding-right: 90px;
}
.PR-95 {
  padding-right: 95px;
}
.PR-100 {
  padding-right: 100px;
}
.PRR-5 {
  padding-right: 0.05rem;
}
.PRR-10 {
  padding-right: 0.10rem;
}
.PRR-15 {
  padding-right: 0.15rem;
}
.PRR-20 {
  padding-right: 0.20rem;
}
.PRR-25 {
  padding-right: 0.25rem;
}
.PRR-30 {
  padding-right: 0.30rem;
}
.PRR-35 {
  padding-right: 0.35rem;
}
.PRR-40 {
  padding-right: 0.40rem;
}
.PRR-45 {
  padding-right: 0.45rem;
}
.PRR-50 {
  padding-right: 0.50rem;
}
.PRR-55 {
  padding-right: 0.55rem;
}
.PRR-60 {
  padding-right: 0.60rem;
}
.PRR-65 {
  padding-right: 0.65rem;
}
.PRR-70 {
  padding-right: 0.70rem;
}
.PRR-75 {
  padding-right: 0.75rem;
}
.PRR-80 {
  padding-right: 0.80rem;
}
.PRR-85 {
  padding-right: 0.85rem;
}
.PRR-90 {
  padding-right: 0.90rem;
}
.PRR-95 {
  padding-right: 0.95rem;
}
.PRR-100 {
  padding-right: 1rem;
}
.PB-5 {
  padding-bottom: 5px;
}
.PB-10 {
  padding-bottom: 10px;
}
.PB-15 {
  padding-bottom: 15px;
}
.PB-20 {
  padding-bottom: 20px;
}
.PB-25 {
  padding-bottom: 25px;
}
.PB-30 {
  padding-bottom: 30px;
}
.PB-35 {
  padding-bottom: 35px;
}
.PB-40 {
  padding-bottom: 40px;
}
.PB-45 {
  padding-bottom: 45px;
}
.PB-50 {
  padding-bottom: 50px;
}
.PB-55 {
  padding-bottom: 55px;
}
.PB-60 {
  padding-bottom: 60px;
}
.PB-65 {
  padding-bottom: 65px;
}
.PB-70 {
  padding-bottom: 70px;
}
.PB-75 {
  padding-bottom: 75px;
}
.PB-80 {
  padding-bottom: 80px;
}
.PB-85 {
  padding-bottom: 85px;
}
.PB-90 {
  padding-bottom: 90px;
}
.PB-95 {
  padding-bottom: 95px;
}
.PB-100 {
  padding-bottom: 100px;
}
.PBR-5 {
  padding-bottom: 0.05rem;
}
.PBR-10 {
  padding-bottom: 0.10rem;
}
.PBR-15 {
  padding-bottom: 0.15rem;
}
.PBR-20 {
  padding-bottom: 0.20rem;
}
.PBR-25 {
  padding-bottom: 0.25rem;
}
.PBR-30 {
  padding-bottom: 0.30rem;
}
.PBR-35 {
  padding-bottom: 0.35rem;
}
.PBR-40 {
  padding-bottom: 0.40rem;
}
.PBR-45 {
  padding-bottom: 0.45rem;
}
.PBR-50 {
  padding-bottom: 0.50rem;
}
.PBR-55 {
  padding-bottom: 0.55rem;
}
.PBR-60 {
  padding-bottom: 0.60rem;
}
.PBR-65 {
  padding-bottom: 0.65rem;
}
.PBR-70 {
  padding-bottom: 0.70rem;
}
.PBR-75 {
  padding-bottom: 0.75rem;
}
.PBR-80 {
  padding-bottom: 0.80rem;
}
.PBR-85 {
  padding-bottom: 0.85rem;
}
.PBR-90 {
  padding-bottom: 0.90rem;
}
.PBR-95 {
  padding-bottom: 0.95rem;
}
.PBR-100 {
  padding-bottom: 1rem;
}
.PTR-5 {
  padding-top: 0.05rem;
}
.PTR-10 {
  padding-top: 0.10rem;
}
.PTR-15 {
  padding-top: 0.15rem;
}
.PTR-20 {
  padding-top: 0.20rem;
}
.PTR-25 {
  padding-top: 0.25rem;
}
.PTR-30 {
  padding-top: 0.30rem;
}
.PTR-35 {
  padding-top: 0.35rem;
}
.PTR-40 {
  padding-top: 0.40rem;
}
.PTR-45 {
  padding-top: 0.45rem;
}
.PTR-50 {
  padding-top: 0.50rem;
}
.PTR-55 {
  padding-top: 0.55rem;
}
.PTR-60 {
  padding-top: 0.60rem;
}
.PTR-65 {
  padding-top: 0.65rem;
}
.PTR-70 {
  padding-top: 0.70rem;
}
.PTR-75 {
  padding-top: 0.75rem;
}
.PTR-80 {
  padding-top: 0.80rem;
}
.PTR-85 {
  padding-top: 0.85rem;
}
.PTR-90 {
  padding-top: 0.90rem;
}
.PTR-95 {
  padding-top: 0.95rem;
}
.PTR-100 {
  padding-top: 1rem;
}
.W-1 {
  width: 8.3%;
}
.W-2 {
  width: 16.6%;
}
.W-3 {
  width: 25%;
}
.W-4 {
  width: 33.3%;
}
.W-5 {
  width: 41.6%;
}
.W-6 {
  width: 50%;
}
.W-7 {
  width: 58.3%;
}
.W-8 {
  width: 66.6%;
}
.W-9 {
  width: 75%;
}
.W-10 {
  width: 83.3%;
}
.W-11 {
  width: 91.6%;
}
.W-12 {
  width: 100%;
}
.PT-5 {
  padding-top: 5px;
}
.PT-10 {
  padding-top: 10px;
}
.PT-15 {
  padding-top: 15px;
}
.PT-20 {
  padding-top: 20px;
}
.PT-25 {
  padding-top: 25px;
}
.PT-30 {
  padding-top: 30px;
}
.PT-35 {
  padding-top: 35px;
}
.PT-40 {
  padding-top: 40px;
}
.PT-45 {
  padding-top: 45px;
}
.PT-50 {
  padding-top: 50px;
}
.PT-55 {
  padding-top: 55px;
}
.PT-60 {
  padding-top: 60px;
}
.PT-65 {
  padding-top: 65px;
}
.PT-70 {
  padding-top: 70px;
}
.PT-75 {
  padding-top: 75px;
}
.PT-80 {
  padding-top: 80px;
}
.PT-85 {
  padding-top: 85px;
}
.PT-90 {
  padding-top: 90px;
}
.PT-100 {
  padding-top: 100px;
}
.page {
  width: 100%;
  height: 100%;
  font-size: 27px;
  color: #4b4b4b;
}
.dq_main {
  max-width: 1920px;
  min-width: 1900px;
  height: 1080px;
  padding: 0 25px 0 41px;
  margin: 0 auto;
  background: url(../img/common/dq_bg.jpg) no-repeat;
  background-size: 100% 100%;
}
.dq_main-header {
  position: relative;
  height: 161px;
}
.dq_main-header-go {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 161px;
}
.dq_main-header-go i {
  position: relative;
  top: 13px;
  font-size: 78px;
  color: #bd8017;
}
.dq_main-header-go span {
  font-size: 45px;
  color: #bd8017;
}
.dq_main-header-title {
  line-height: 161px;
  text-align: center;
  font-size: 58px;
  color: #a37d0b;
  font-weight: 400;
}
.dq_main-container {
  height: 873px;
}
.dq_main-container-box {
  position: relative;
  width: 1825px;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.73);
  border-radius: 20px;
  overflow: hidden;
}
.zj {
  background: url(../img/common/dq_bg1.jpg) no-repeat;
}
.zj-header .dq_main-header-go i {
  color: #d74d4b;
}
.zj-header .dq_main-header-go span {
  color: #d74d4b;
}
.zj-header .dq_main-header-title {
  color: #d74d4b;
}
.zj .class-box-nav .item {
  border: solid 3px rgba(227, 105, 82, 0.73);
  border-bottom: none;
  color: #e6684f;
}
.zj .class-box-nav .item-active {
  background-color: #e6684f;
  border: 3px solid #e6684f;
  color: #fff;
}
.zj .class-box-list {
  border: solid 3px rgba(227, 105, 82, 0.73);
}
.zj .union-list-item .right-title > a {
  color: #d74d4b;
  transition: all .3s;
}
.zj .union-list-item .right-title > a:hover {
  color: #ac7c16;
}
.zj .details-center-title {
  color: #d74d4b;
}
.tab-content .item {
  display: none;
}
.tab-content .item-show {
  display: block;
}
/*

   自定义滚动条

 */
.iScrollHorizontalScrollbar {
  position: absolute;
  z-index: 9999;
  height: 16px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  overflow: hidden;
}
.iScrollHorizontalScrollbar.iScrollBothScrollbars {
  right: 18px;
}
.iScrollVerticalScrollbar {
  position: absolute;
  z-index: 9999;
  width: 14px;
  bottom: 10px;
  top: 10px;
  right: 20px;
  overflow: hidden;
}
.iScrollVerticalScrollbar.iScrollBothScrollbars {
  bottom: 18px;
}
.iScrollIndicator {
  position: absolute;
  background-color: rgba(164, 164, 164, 0.41);
  border-radius: 7px;
}
.iScrollHorizontalScrollbar .iScrollIndicator {
  height: 100%;
  background-color: rgba(164, 164, 164, 0.41);
}
.iScrollVerticalScrollbar .iScrollIndicator {
  width: 100%;
  background-color: rgba(164, 164, 164, 0.41);
}
.home-header {
  height: 191px;
  padding: 55px 0 52px 15px;
}
.home-logo img {
  display: block;
  width: 354px;
  height: 84px;
}
.home-left,
.home-center,
.home-right {
  float: left;
}
.home-left {
  width: 661px;
}
.home-center {
  width: 766px;
}
.home-right {
  width: 357px;
}
.home-right-item {
  display: block;
  width: 357px;
  height: 210px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 rgba(74, 74, 74, 0.3);
  text-align: center;
  line-height: 215px;
  vertical-align: center;
  transition: all .3s;
}
.home-right-item:hover {
  transform: translateY(-5px);
}
.home-right-item i {
  position: relative;
  top: 7px;
  font-size: 50px;
  color: #fff;
  margin-right: 25px;
}
.home-right-item span {
  font-size: 35px;
  color: #fff;
}
.home-right .item_1 {
  background-image: linear-gradient(-24deg, #d5514a 19%, #ffa063 100%), linear-gradient(#0081f7, #0081f7);
}
.home-right .item_2 {
  background-image: linear-gradient(-24deg, #d98032 19%, #ffc456 100%), linear-gradient(#0081f7, #0081f7);
}
.home-right .item_3 {
  background-image: linear-gradient(-24deg, #2a99c5 19%, #67bedc 100%), linear-gradient(#0081f7, #0081f7);
}
.home-right .item_4 {
  background-image: linear-gradient(-24deg, #e87d2f 19%, #fcc051 100%), linear-gradient(#0081f7, #0081f7);
}
.dq_section-title {
  position: relative;
  height: 60px;
}
.dq_section-title .item {
  position: absolute;
  z-index: 1;
  min-width: 246px;
  height: 60px;
  line-height: 60px;
  padding: 0 22px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
}
.dq_section-title .item:nth-child(2) {
  left: 231px;
}
.dq_section-title .item i {
  color: #fff;
  font-size: 32px;
}
.dq_section-title .item span {
  font-size: 30px;
  color: #fff;
}
.dq_section-title .move {
  display: none;
  position: absolute;
  right: 24px;
  top: 15px;
  font-size: 26px;
  color: #bd7957;
  transition: all .3s;
}
.dq_section-title .move:hover {
  color: red;
}
.dq_section-title .move-active {
  display: block;
}
.dq_section .t_bg {
  background-color: rgba(255, 255, 255, 0.85);
  overflow: hidden;
}
.dq_section .t_bg .item {
  border: solid 2px #8bceeb;
  background-color: #eaf3f6;
}
.dq_section .t_bg .item i {
  color: #12a7d9;
}
.dq_section .t_bg .item span {
  color: #12a7d9;
}
.dq_section .t_bg .item-active {
  z-index: 5;
  border: none;
  background-image: linear-gradient(98deg, #009ad2 0%, #3bb9e2 50%, #00a2d6 100%), linear-gradient(#fe8445, #fe8445);
}
.dq_section .t_bg .item-active i {
  color: #fff;
}
.dq_section .t_bg .item-active span {
  color: #fff;
}
.dq_section .t_bg-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #c4c4c4;
  zoom: 1;
}
.dq_section .t_bg-header:before {
  content: '';
  display: block;
}
.dq_section .t_bg-header:after {
  content: '';
  display: table;
  clear: both;
}
.dq_section .t_bg-header:before {
  content: '';
  display: block;
}
.dq_section .t_bg-header:after {
  content: '';
  display: table;
  clear: both;
}
.dq_section .t_bg-header-pic {
  width: 204px;
  height: 143px;
  float: left;
  margin-right: 9px;
  overflow: hidden;
}
.dq_section .t_bg-header-pic img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all .3s;
}
.dq_section .t_bg-header-pic img:hover {
  transform: scale(1.4);
  opacity: .8;
}
.dq_section .t_bg-header-right h4 {
  margin-bottom: 14px;
}
.dq_section .t_bg-header-right h4 > a {
  font-size: 25px;
  font-weight: 400;
  color: #4b4b4b;
  transition: all .3s;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.dq_section .t_bg-header-right h4 > a:hover {
  color: #12a7d9;
}
.dq_section .t_bg-header-right p > a {
  font-size: 22px;
  color: #646464;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.dq_section .t_bg-list {
  padding-top: 14px;
}
.dq_section .t_bg-list li {
  position: relative;
  padding: 10px 0 10px 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dq_section .t_bg-list li:before {
  position: absolute;
  left: 14px;
  top: 50%;
  margin-top: -5px;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dbb43c;
}
.dq_section .t_bg-list li > a {
  font-size: 27px;
  color: #4b4b4b;
  transition: all .3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dq_section .t_bg-list li > a:hover {
  color: #12a7d9;
}
.dq_section .t_bg1 {
  background-color: rgba(255, 255, 255, 0.85);
  overflow: hidden;
}
.dq_section .t_bg1 .item {
  background-color: #f7eee4;
  border: solid 2px #e4a48a;
}
.dq_section .t_bg1 .item i,
.dq_section .t_bg1 .item span {
  color: #cd7200;
}
.dq_section .t_bg1 .item-active {
  z-index: 5;
  border: none;
  background-image: linear-gradient(98deg, #be5326 0%, #ec8e3d 50%, #d27f00 100%), linear-gradient(#fe8445, #fe8445);
}
.dq_section .t_bg1 .item-active i {
  color: #fff;
}
.dq_section .t_bg1 .item-active span {
  color: #fff;
}
.dq_section .t_bg1-item {
  padding: 20px 0 21px 0;
  border-top: 2px solid #dcdcdc;
  zoom: 1;
}
.dq_section .t_bg1-item:before {
  content: '';
  display: block;
}
.dq_section .t_bg1-item:after {
  content: '';
  display: table;
  clear: both;
}
.dq_section .t_bg1-item:before {
  content: '';
  display: block;
}
.dq_section .t_bg1-item:after {
  content: '';
  display: table;
  clear: both;
}
.dq_section .t_bg1-item:first-child {
  border-top: none;
}
.dq_section .t_bg1-item-pic {
  float: left;
  width: 186px;
  height: 139px;
  margin-right: 15px;
  overflow: hidden;
}
.dq_section .t_bg1-item-pic img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all .3s;
}
.dq_section .t_bg1-item-pic img:hover {
  transform: scale(1.4);
  opacity: .8;
}
.dq_section .t_bg1-item-right h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dq_section .t_bg1-item-right h4 > a {
  font-size: 27px;
  color: #484848;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .3s;
}
.dq_section .t_bg1-item-right h4 > a:hover {
  color: #cd7200;
}
.dq_section .t_bg1-item-right .date {
  margin: 6px 0 8px 0;
  font-size: 23px;
  color: #949494;
}
.dq_section .t_bg1-item-right .text > a {
  font-size: 23px;
  color: #646464;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.dq_section .t_bg2 {
  background-color: rgba(255, 255, 255, 0.85);
  overflow: hidden;
}
.dq_section .t_bg2 .item {
  background-color: #fff3ee;
  border: solid 2px #e4a48a;
}
.dq_section .t_bg2 .item i,
.dq_section .t_bg2 .item span {
  color: #cd7200;
}
.dq_section .t_bg2 .item-active {
  z-index: 5;
  border: none;
  background-image: linear-gradient(98deg, #d5514a 0%, #ff9550 50%, #ee8059 100%), linear-gradient(#fe8445, #fe8445);
}
.dq_section .t_bg2 .item-active i {
  color: #fff;
}
.dq_section .t_bg2 .item-active span {
  color: #fff;
}
.dq_section .t_bg2-list {
  padding-top: 14px;
}
.dq_section .t_bg2-list li {
  position: relative;
  padding: 15px 0 14px 32px;
  border-top: 1px dashed #c4c4c4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dq_section .t_bg2-list li:first-child {
  border-top: none;
}
.dq_section .t_bg2-list li:before {
  position: absolute;
  left: 14px;
  top: 50%;
  margin-top: -5px;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dbb43c;
}
.dq_section .t_bg2-list li > a {
  color: #4b4b4b;
  font-size: 26px;
  transition: all .3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dq_section .t_bg2-list li > a:hover {
  color: #cd7200;
}
.dq_section-box {
  padding: 14px 17px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.14);
  zoom: 1;
  overflow: hidden;
}
.dq_section-box:before {
  content: '';
  display: block;
}
.dq_section-box:after {
  content: '';
  display: table;
  clear: both;
}
.dq_section-box:before {
  content: '';
  display: block;
}
.dq_section-box:after {
  content: '';
  display: table;
  clear: both;
}
.dq_section-box .item {
  display: none;
}
.dq_section-box .item-show {
  display: block;
}
.dq_section .bg1 {
  background-image: linear-gradient(98deg, #bb711e 0%, #e7af35 50%, #ce9e00 100%), linear-gradient(#e4b100, #e4b100);
}
.union-list {
  padding: 0 28px;
}
.union-list-item {
  padding: 28px 21px;
  border-bottom: 1px solid #dddcda;
  zoom: 1;
}
.union-list-item:before {
  content: '';
  display: block;
}
.union-list-item:after {
  content: '';
  display: table;
  clear: both;
}
.union-list-item:before {
  content: '';
  display: block;
}
.union-list-item:after {
  content: '';
  display: table;
  clear: both;
}
.union-list-item .pic {
  float: left;
  width: 358px;
  height: 228px;
  margin-right: 31px;
  overflow: hidden;
}
.union-list-item .pic img {
  width: 100%;
  height: 100%;
  transition: all .3s;
}
.union-list-item .pic img:hover {
  transform: scale(1.4);
  opacity: .8;
}
.union-list-item .right-title > a {
  font-size: 36px;
  color: #ac7c16;
  transition: all .3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.union-list-item .right-title > a:hover {
  color: red;
}
.union-list-item .right-date {
  margin: 6px 0;
  font-size: 28px;
  color: #949494;
}
.union-list-item .right-text {
  height: 132px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-indent: 2em;
  line-height: 1.7em;
  font-size: 28px;
  color: #565656;
}
.details-center {
  padding: 0 79px 0 62px;
}
.details-center-header {
  padding: 40px 0 37px 0;
  text-align: center;
}
.details-center-title {
  font-size: 44px;
  color: #a37d0b;
  font-weight: 400;
  line-height: 2em;
}
.details-center-more {
  font-size: 31px;
  color: #787878;
}
.details-center-more .date {
  margin-right: 100px;
}
.details-center-text p {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 2em;
  text-indent: 2em;
  color: #565656;
}
.details-center-text img {
  max-width: 100%;
}
.dangjian {
  text-align: center;
}
.dangjian-list {
  padding-top: 200px;
  display: inline-block;
  zoom: 1;
}
.dangjian-list:before {
  content: '';
  display: block;
}
.dangjian-list:after {
  content: '';
  display: table;
  clear: both;
}
.dangjian-list:before {
  content: '';
  display: block;
}
.dangjian-list:after {
  content: '';
  display: table;
  clear: both;
}
.dangjian-list-item {
  float: left;
  width: 377px;
  height: 422px;
  padding-top: 125px;
  margin-right: 40px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 rgba(74, 74, 74, 0.3);
  transition: all .3s;
}
.dangjian-list-item:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 20px 0 rgba(74, 74, 74, 0.6);
}
.dangjian-list-item i {
  font-size: 102px;
  color: #fff;
}
.dangjian-list-item span {
  font-size: 41px;
  color: #fff;
}
.dangjian-list-item:nth-child(1) {
  background-image: linear-gradient(-24deg, #bc5d42 19%, #e08575 100%), linear-gradient(#1e81ef, #1e81ef);
}
.dangjian-list-item:nth-child(2) {
  background-image: linear-gradient(-24deg, #bc6d42 19%, #e0a275 100%), linear-gradient(#1e81ef, #1e81ef);
}
.card-box {
  width: 100%;
  height: 780px;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
}
.card-box > div {
  zoom: 1;
}
.card-box > div:before {
  content: '';
  display: block;
}
.card-box > div:after {
  content: '';
  display: table;
  clear: both;
}
.card-box > div:before {
  content: '';
  display: block;
}
.card-box > div:after {
  content: '';
  display: table;
  clear: both;
}
.card-box-item {
  float: left;
  width: 586px;
  padding: 30px;
  margin-right: 19px;
  margin-bottom: 19px;
  background-color: rgba(255, 255, 255, 0.73);
  border-radius: 20px;
  overflow: hidden;
  transition: all .3s;
}
.card-box-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px 0 rgba(74, 74, 74, 0.6);
}
.card-box-item:nth-child(3n) {
  margin-right: 0;
}
.card-box-item .pic img {
  width: 100%;
  height: 308px;
}
.card-box-item .title {
  padding: 30px 0 0 0;
  height: 110px;
  margin-bottom: 30px;
  font-size: 32px;
  color: #a8601a;
  overflow: hidden;
}
.card-box-item .text {
  height: 245px;
  font-size: 28px;
  color: #565656;
  text-indent: 2em;
  line-height: 1.8em;
  overflow: hidden;
}
.honor-list {
  padding: 42px 268px;
  zoom: 1;
}
.honor-list:before {
  content: '';
  display: block;
}
.honor-list:after {
  content: '';
  display: table;
  clear: both;
}
.honor-list:before {
  content: '';
  display: block;
}
.honor-list:after {
  content: '';
  display: table;
  clear: both;
}
.honor-list-item {
  float: left;
  width: 627px;
  height: 387px;
  margin: 0 35px 21px 0;
}
.honor-list-item:nth-child(2n) {
  margin-right: 0;
}
.honor-list-item img {
  width: 100%;
  height: 100%;
}
.class-box-nav {
  zoom: 1;
}
.class-box-nav:before {
  content: '';
  display: block;
}
.class-box-nav:after {
  content: '';
  display: table;
  clear: both;
}
.class-box-nav:before {
  content: '';
  display: block;
}
.class-box-nav:after {
  content: '';
  display: table;
  clear: both;
}
.class-box-nav .item {
  position: relative;
  z-index: 5;
  float: left;
  width: 300px;
  height: 91px;
  margin-left: -2px;
  line-height: 85px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.73);
  border-radius: 10px 10px 0 0;
  border: solid 3px rgba(235, 159, 69, 0.73);
  border-bottom: none;
  color: #dc8d30;
  cursor: pointer;
}
.class-box-nav .item i {
  font-size: 35px;
}
.class-box-nav .item span {
  font-size: 35px;
}
.class-box-nav .item-active {
  z-index: 9;
  background-color: #e38f4c;
  border: solid 3px #e38f4c;
  color: #fff;
}
.class-box-nav .item:first-child {
  margin-left: 0;
}
.class-box-list {
  width: 1825px;
  height: 739px;
  background-color: rgba(255, 255, 255, 0.73);
  border-radius: 0 20px 20px 20px;
  border: solid 3px rgba(235, 159, 69, 0.73);
  overflow: hidden;
  position: relative;
}
.resource-title {
  width: 228px;
  height: 73px;
  line-height: 73px;
  text-align: center;
  background-color: #e85957;
  border-radius: 36px;
  font-size: 38px;
  color: #fff;
  font-weight: 400;
}
.resource-box {
  zoom: 1;
}
.resource-box:before {
  content: '';
  display: block;
}
.resource-box:after {
  content: '';
  display: table;
  clear: both;
}
.resource-box:before {
  content: '';
  display: block;
}
.resource-box:after {
  content: '';
  display: table;
  clear: both;
}
.resource-box-left {
  float: left;
  width: 692px;
  height: 873px;
  padding: 39px 70px 59px 61px;
  background-color: rgba(255, 255, 255, 0.73);
  border-radius: 20px;
}
.resource-box-left .list {
  margin-top: 40px;
}
.resource-box-left .list a {
  color: #565656;
  font-size: 28px;
  transition: all .3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 57px;
}
.resource-box-left .list a:hover {
  color: #e85957;
}
.resource-box-right {
  float: right;
  width: 1111px;
  height: 873px;
  padding: 80px 60px 0 100px;
  background-color: rgba(255, 255, 255, 0.73);
  border-radius: 20px;
  zoom: 1;
}
.resource-box-right:before {
  content: '';
  display: block;
}
.resource-box-right:after {
  content: '';
  display: table;
  clear: both;
}
.resource-box-right:before {
  content: '';
  display: block;
}
.resource-box-right:after {
  content: '';
  display: table;
  clear: both;
}
.resource-box-right .item {
  float: left;
  width: 50%;
  padding-right: 20px;
}
.resource-box-right .item:nth-child(2n) {
  margin-right: 0;
}
.resource-box-right .item-list {
  margin: 30px 0 50px 0;
}
.resource-box-right .item-list li {
  margin-bottom: 14px;
}
.resource-box-right .item-list a {
  font-size: 28px;
  color: #565656;
  transition: all .3s;
}
.resource-box-right .item-list a:hover {
  color: #e85957;
}
.register-content {
  padding: 140px 105px;
}
.register-content-title {
  font-size: 36px;
  color: #686868;
  margin-bottom: 80px;
}
.register-content-box {
  zoom: 1;
}
.register-content-box:before {
  content: '';
  display: block;
}
.register-content-box:after {
  content: '';
  display: table;
  clear: both;
}
.register-content-box:before {
  content: '';
  display: block;
}
.register-content-box:after {
  content: '';
  display: table;
  clear: both;
}
.register-content-box .left,
.register-content-box .right {
  float: left;
  width: 50%;
}
.register-content-box .left h3 {
  font-size: 34px;
  color: #2390d5;
  font-weight: 400;
  margin-bottom: 30px;
}
.register-content-box .left-list li {
  margin-bottom: 20px;
  zoom: 1;
}
.register-content-box .left-list li:before {
  content: '';
  display: block;
}
.register-content-box .left-list li:after {
  content: '';
  display: table;
  clear: both;
}
.register-content-box .left-list li:before {
  content: '';
  display: block;
}
.register-content-box .left-list li:after {
  content: '';
  display: table;
  clear: both;
}
.register-content-box .left-list-name {
  float: left;
  font-size: 30px;
  color: #565656;
  line-height: 56px;
}
.register-content-box .left-list-link {
  float: right;
  display: block;
  width: 143px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  background-color: #39a2de;
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
}
.register-content-box .right {
  text-align: center;
}
.register-content-box .right img {
  width: 597px;
  height: 342px;
}
.i_union .class-box-list {
  position: relative;
}
.i_union .class-box-list .item {
  display: none;
}
.i_union .class-box-list .item-show {
  display: block;
}
.i_union-list {
  width: 1100px;
  padding-top: 200px;
  margin: 0 auto;
  /*position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;*/
  zoom: 1;
}
.i_union-list:before {
  content: '';
  display: block;
}
.i_union-list:after {
  content: '';
  display: table;
  clear: both;
}
.i_union-list:before {
  content: '';
  display: block;
}
.i_union-list:after {
  content: '';
  display: table;
  clear: both;
}
.i_union-list li {
  float: left;
  width: 258px;
  margin-right: 153px;
  text-align: center;
}
.i_union-list li:last-child {
  margin-right: 0;
}
.i_union-list li span {
  font-size: 39px;
  color: #565150;
}
.i_union-list-icon {
  width: 258px;
  height: 258px;
  margin-bottom: 28px;
  border-radius: 50%;
  line-height: 258px;
}
.i_union-list-icon i {
  color: #fff;
  font-size: 126px;
}
.i_union-list1 li {
  width: 192px;
  margin-right: 110px;
  margin-bottom: 59px;
}
.i_union-list1 li:nth-child(4n) {
  margin-right: 0;
}
.i_union-list1 .i_union-list-icon {
  width: 192px;
  height: 192px;
  line-height: 192px;
}
.i_union-list1 .i_union-list-icon i {
  font-size: 85px;
}
.i_union .bg1 {
  background-image: linear-gradient(0deg, #e72e2e 0%, #f06060 100%), linear-gradient(#fe0001, #fe0001);
}
.i_union .bg2 {
  background-image: linear-gradient(0deg, #d9531e 0%, #f08f60 100%), linear-gradient(#fe0001, #fe0001);
}
.i_union .bg3 {
  background-image: linear-gradient(0deg, #d87a00 0%, #ffae4e 100%), linear-gradient(#fe0001, #fe0001);
}
.i_union .bg4 {
  background-image: linear-gradient(0deg, #3ba73a 0%, #a0d55d 100%), linear-gradient(#fe0001, #fe0001);
}
.i_union .bg5 {
  background-image: linear-gradient(0deg, #10a7ec 0%, #64ccfd 100%), linear-gradient(#fe0001, #fe0001);
}
.i_union .bg6 {
  background-image: linear-gradient(0deg, #e49f08 0%, #f7c334 100%), linear-gradient(#fe0001, #fe0001);
}
.i_union .bg7 {
  background-image: linear-gradient(0deg, #ff6d6e 0%, #ff9595 100%), linear-gradient(#fe0001, #fe0001);
}
.i_union .bg8 {
  background-image: linear-gradient(0deg, #0da6ec 0%, #5fcbfc 100%), linear-gradient(#fe0001, #fe0001);
}
.i_union .bg9 {
  background-image: linear-gradient(0deg, #ff419b 0%, #ff99cd 100%), linear-gradient(#fe0001, #fe0001);
}
.i_union .bg10 {
  background-image: linear-gradient(0deg, #40ca39 0%, #8ae507 100%), linear-gradient(#fe0001, #fe0001);
}
