<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>服务预约系统</title>
    <script type="text/javascript" src="js/template.js"></script>
    <script type="text/html" id="text1">
    {{if $data}}
        <span class="close">×</span>
        <p class="title1">{{$data.title}}</p>
        <p>时间：{{$data.time}}</p>
        <p>活动地点：{{$data.addr}}</p>
        <p>组织单位：{{$data.host}}</p>
        <p class="cont">
        <span>活动内容：</span>
        <span>{{$data.content}}</span>
        </p>
        <a class="detail" href="pages/activity_order.html?dataId={{$data.id}}">查看详情 ></a>
    {{/if}}
    </script>
    <script type="text/html" id="text2">
        {{if $data}}
        <span class="close">×</span>
        <p class="title1">{{$data.title}}</p>
        <p>时间：{{$data.time}}</p>
        <p>地点：{{$data.addr}}</p>
        <p>组织单位：{{$data.host}}</p>
        <p>授课老师：{{$data.teacher}}</p>
        <a class="detail" href="pages/theme_party.html?dataId={{$data.id}}">查看详情 ></a>
        {{/if}}
    </script>
    <script type="text/html" id="rlist1">
        {{if $data.length}}
            {{each $data as value index}}
            <li>
                <a href="pages/activity_order.html?dataId={{value.id}}">
                    <p class="list_title">{{value.title}}</p>
                    <p class="list_in">
                        <span class="iconfont icon-shijian icon_blue"></span>
                        时间：{{value.time}}
                    </p>
                    <p class="list_in">
                        <span class="iconfont icon-dingwei icon_yellow"></span>
                        活动地点：{{value.addr}}
                    </p>
                    <p class="list_in">
                        <span class="iconfont icon-danwei1 icon_green"></span>
                        组织单位：{{value.host}}
                    </p>
                    <p class="list_in">
                        <span class="iconfont icon-neirong icon_red"></span>
                        活动内容：{{value.content}}
                    </p>
                </a>
            </li>
            {{/each}}
        {{/if}}
    </script>
    <script type="text/html" id="rlist2">
        {{if $data.length}}
            {{each $data as value index}}
                <li>
                    <a href="pages/theme_party.html?dataId={{value.data}}">
                        <p class="list_title">{{value.title}}</p>
                        <p class="list_in">
                            <span class="iconfont icon-shijian icon_blue"></span>
                            时间：{{value.time}}
                        </p>
                        <p class="list_in">
                            <span class="iconfont icon-dingwei icon_yellow"></span>
                            地点：{{value.addr}}
                        </p>
                        <p class="list_in">
                            <span class="iconfont icon-danwei1 icon_green"></span>
                            组织单位：{{value.host}}
                        </p>
                        <p class="list_in">
                            <span class="iconfont icon-neirong icon_red"></span>
                            授课老师：{{value.teacher}}
                        </p>
                    </a>
                </li>
            {{/each}}
        {{/if}}
</script>
    <link rel="stylesheet" href="css/order.css">
</head>
<body>
<header class="header1">
    <!--标题-->
    <span class="title1">服务预约系统</span>
    <!--搜索框和智能导览-->
    <span class="daolan">
        <span class="iconfont icon-daolan"></span>
        <span>智能导览</span>
    </span>
    <span class="search1 search_btn">查询</span>
    <span class="search1 search_input_box">
        <span class="iconfont icon-sousuo"></span>
        <input type="text" class="search_input">
    </span>
</header>
<article class="content1">
    <article class="left">
        <div id="tabBox">
            <span class="tabs" value="1" data-id="82">
            <span class="iconfont icon-yuyue"></span>
            <span class="tab_text">党建活动预约</span>
            </span>
            <span class="tabs" value="1" data-id="88">
            <span class="iconfont icon-kecheng"></span>
            <span class="tab_text">主题党课</span>
            </span>
            <span class="tabs" value="1" data-id="82">
            <span class="iconfont icon-activity"></span>
            <span class="tab_text">志愿活动预约</span>
            </span>
            <span class="tabs" value="1" data-id="88">
            <span class="iconfont icon-weixinyuan" data-id="82"></span>
            <span class="tab_text">微心愿</span>
            </span>
            <span class="tabs" value="1" data-id="88">
            <span class="iconfont icon-yuyue"></span>
            <span class="tab_text">场地预约</span>
            </span>
            <span class="tabs" value="1" data-id="82">
            <span class="iconfont icon-zhongchou-"></span>
            <span class="tab_text">众筹服务</span>
            </span>
            <span class="tabs1" value="1" data-id="88">
            <span class="iconfont icon-che"></span>
            <span class="tab_text">项目直通车</span>
            </span>
        </div>
    </article>
    <article class="right">
        <div id="mapMark" class="mapMark mapBox1"></div>
        <!--<div id="mapMark2" class="mapMark1 mapBox2"></div>-->
        <!--地图页点击可切换列表-->
        <div id="r1Map" class="right1_map">
            <span class="mChange mapBox" id="mChangeList">
            <span class="iconfont icon-ic-format-list-bulle"></span>
            <span class="cText">切换列表</span>
        </span>
            <div class="map" id="mMap">
            </div>
        </div>
        <!--列表页，点击可切换地图-->
        <div id="r1List" class="right_list">
            <span class="mChange mapBox">
            <span class="iconfont icon-ditu"></span>
            <span class="cText">切换地图</span>
            </span>
            <p class="title1">党建活动预约</p>
            <ul id="r1ul">
                <!--<li>-->
                    <!--<a href="pages/activity_order.html">-->
                        <!--<p class="list_title">情景党课</p>-->
                        <!--<p class="list_in">-->
                            <!--<span class="iconfont icon-shijian icon_blue"></span>-->
                            <!--时间：2018-4-28-->
                        <!--</p>-->
                        <!--<p class="list_in">-->
                            <!--<span class="iconfont icon-dingwei icon_yellow"></span>-->
                            <!--地点：长兴县商城路1177弄15号-->
                        <!--</p>-->
                        <!--<p class="list_in">-->
                            <!--<span class="iconfont icon-danwei1 icon_green"></span>-->
                            <!--组织单位：山林居民区党总织-->
                        <!--</p>-->
                        <!--<p class="list_in">-->
                            <!--<span class="iconfont icon-neirong icon_red"></span>-->
                            <!--活动内容：通过党员互动讨论深华党建精神学习-->
                        <!--</p>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
    </article>
</article>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=0YB46yl2t3VNV7bakAGweAVZ9q8M4WZj"></script>
<script type="text/javascript"
        src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<script type="text/javascript" src="libs/jquery/jquery.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>