@import "iconfont.css";
html {
  color: #000;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  border: none;
  outline: none;
  tap-highlight-color: rgba(0, 0, 0, 0);
  focus-ring-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-focus-ring-color: rgba(0, 0, 0, 0);
}
a:visited {
  color: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
abbr,
acronym {
  border: 0 none;
  font-variant: normal;
}
fieldset,
img {
  border: 0 none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: outside none none;
}
li {
  list-style-type: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q::before,
q::after {
  content: "";
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a:hover {
  text-decoration: none;
}
ins,
a {
  text-decoration: none;
  color: #333;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*清除浮动*/
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}
.clearfix:before {
  content: "";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}
.clearfix {
  *zoom: 1;
}
.hide {
  display: none;
}
.show {
  display: block;
}
html {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'microsoft yahei';
  background: url("../imgs/bg.png") no-repeat 100% 100%;
  position: relative;
  overflow: hidden;
}
.header1 {
  height: 170px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.32);
  box-shadow: 0px 5px 5px 0px rgba(12, 4, 7, 0);
  border-bottom: 4px solid #f6cd6b;
}
.header1 .title1 {
  font-size: 98px;
  height: 170px;
  line-height: 170px;
  font-weight: bold;
  padding-left: 68px;
  background-image: -webkit-linear-gradient(0deg, #A37826, #DFA21B 50%, #CE9E00);
  -webkit-background-clip: text;
  /* 规定背景的划分区域 */
  -webkit-text-fill-color: transparent;
  /* 防止字体颜色覆盖 */
}
.header1 .daolan {
  float: right;
  margin-right: 51px;
  margin-top: 32px;
  color: #FFFFFF;
  font-size: 38px;
  height: 102px;
  width: 290px;
  line-height: 102px;
  background-image: linear-gradient(0deg, #d36f00 19%, #fece32 100%), linear-gradient(#ffae00, #ffae00);
  border-radius: 12px;
  cursor: pointer;
}
.header1 .daolan .iconfont {
  font-size: 52px;
  float: left;
  margin-left: 27px;
  margin-right: 16px;
}
.header1 .search1 {
  float: right;
  height: 78px;
  line-height: 78px;
  margin-top: 48px;
  display: none;
}
.header1 .search1.search_btn {
  width: 165px;
  text-align: center;
  background-image: linear-gradient(0deg, #d36f00 19%, #fece32 100%), linear-gradient(#ffae00, #ffae00);
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 37px;
  margin-left: 18px;
  margin-right: 46px;
}
.header1 .search1.search_input_box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.header1 .search1.search_input_box .iconfont {
  position: absolute;
  left: 30px;
  font-size: 46px;
  color: #999999;
}
.header1 .search1.search_input_box .search_input {
  height: 100%;
  width: 616px;
  padding-left: 90px;
  font-size: 44px;
  border-radius: 12px;
  color: #2C2D2E;
}
.content1 {
  height: 840px;
  width: 1850px;
  margin: 26px auto 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header2 {
  width: 1920px;
  height: 154px;
  background-color: rgba(255, 255, 255, 0.32);
  box-shadow: 0px 5px 5px 0px rgba(12, 4, 7, 0);
  border-bottom: 4px solid #f6cd6b;
}
.header2 > p {
  width: 100%;
  height: 154px;
  text-align: center;
  position: relative;
}
.header2 > p .title2 {
  font-size: 68px;
  line-height: 154px;
  font-stretch: normal;
  color: red;
  font-weight: bold;
  letter-spacing: 0px;
  background-image: -webkit-linear-gradient(0deg, #A37826, #DFA21B 50%, #CE9E00);
  -webkit-background-clip: text;
  /* 规定背景的划分区域 */
  -webkit-text-fill-color: transparent;
  /* 防止字体颜色覆盖 */
}
.header2 > p .return {
  position: absolute;
  top: 26px;
  left: 58px;
  padding: 0px;
  height: 130px;
  line-height: 130px;
  cursor: pointer;
}
.header2 > p .return .iconfont {
  font-size: 96px;
  color: #D49A22;
  float: left;
  margin-right: 12px;
}
.header2 > p .return .text2 {
  color: #D49A22;
  font-size: 46px;
}
.content2 {
  width: 1792px;
  height: 825px;
  margin: 65px auto auto;
  background-color: rgba(255, 251, 244, 0.77);
  border-radius: 20px;
}
